<div class="row clearfix mvl">
    <div class="column six">
        <img src="{{user.profileImgFile}}" class="thumb-round img-xs">
    </div>
    <div class="column five-six">
        <p><small>{{user.username}}<span class="grey-light"> - {{createdAt}}</span></small></p>
        <small class="white">{{body}}</small>
    </div>
</div>
