<video id="video_0_0" class="shred-vid">
    <source src="/video/{videoFileId}" type='video/mp4' />
</video>

<div id="play-btns">
    <span class="ion-ios7-play icon-2x point" title="Play" data-evt="play"></span>
    <span class="ion-stop icon-2x point" title="Stop"></span>
</div>
