<form id="fileupload">
<div data-reg="droppable" class="upload-box text-center" style="margin: 0 auto;">
    <h5 class="lead" id="file-drop">Drag<br>File<br>Here</h5>
</div>
<section id="progress">
    <div class="bar"></div>
</section>
<input type="file" id="file-upload" class="upload">
</form>
