<form id="fileupload">
<div data-reg="droppable" class="upload-box text-center" style="margin: 0 auto;">
    <h5 class="lead" id="file-drop">Drag<br>File<br>Here</h5>
</div>
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>
<input type="file" id="file-upload" class="upload">
<div id="files" class="files"></div>
</form>
