<section id="play-wrap"></section>

<div>
<div id="play-btns">
    <span class="ion-ios7-play icon-2x point" title="Play" data-evt="play"></span>
    <span class="ion-stop icon-2x point" title="Stop"></span>
</div>
</div>
