<section id="play-wrap">
    <video class="shred-vid">
        <source src="/video/{{fileId}}"></source>
    </video>
</section>
<section id="meta" class="video-meta">
    <label class="column fourth">4:55</label> <i class="ion-play mhs"></i>
        <i class="ion-stop"></i>
</section>
