<header class="mvl">
    <h1 class="killer">New Scale</h1>
    <p>By {{username}}</p>
</header>
    <div class="mvl">
        <input type="text" class="mvm" placeholder="Scale Name" id="scale-title">
        <textarea placeholder="Scale text" id="scale-desc"></textarea>
    </div>

    <section class="blue-box pam">
        <label class="in" for="key">Scale is in the key of: </label>
        <input id="tabs-key" type="text" class="small-form mbm" style="width:80px" placeholder="Key">
        <div data-reg="tabs"></div>
    </section>
    <button class="btn btn-niz mvl" data-evt="save">Save</button>
    <button class="btn btn-ser ">Back</button>
