<div class="column ten">
    <img src="/img/profiles/1.jpg" class="thumb-round img-xs">
</div>

<div class="column nine-ten">
    <h3><a>{{title}}</a></h3>
    <ul class="inline-list bullet-list grey-faded fat clearfix mtm">
        <li class="small mhl">3 Videos</li>
        <li class="small mhl">120 likes</li>
    </ul>
</div>
