<div class="column half">
    <div class="row clearfix kicker-btns">
            <div class="column fourth">
                <h5 data-evt="back"><span class="ion-arrow-left-c"></span>Back</h5>
            </div>
            <div class="column fourth">
                <h5 data-evt="scales"><span class="ion-music-note"></span>Scales</h5>
        </div>
            <div class="column fourth">
                <h5 data-evt="chords"><span class="ion-grid"></span>Chords</h5>
            </div>
            <div class="column fourth">
                <h5 data-evt="theory"><span class="ion-ios7-bookmarks-outline"></span>Theory</h5>
            </div>
    </div>

    <button data-mod="add-btn" class="btn btn-niz workspace-btn">Add Jamtrack</button>
</div>

<div class="column half pvm"></div>
