<div class="row clearfix">

    <div class="column half phl">
        <div data-reg="create" style="display:none;"></div>
        <div data-reg="preview">
            <header class="mvl">
                <h1 class="killer">C-minor Scale</h1>
                <p>By Nic KaGe</p>
            </header>
            <section class="mvl">
                <p class="lead">C minor (abbreviated c or Cm) is a minor scale based on C, consisting of the pitches C, D, E♭, F, G, A♭, and B♭. The harmonic minor raises the B♭ to B♮. Changes needed for the melodic and harmonic versions of the scale are written in with naturals and accidentals as necessary. Its key signature consists of three flats. Its relative major is E-flat major, and its parallel major is C major</p>
            </section>
            <section class="green-swabs mvm">
                <a class="white active">Tabs</a>
                <a>Videos</a>
                <a>Share</a>
            </section>
            <section data-reg="tabs" class="blue-box pam"></section>
        </div>
    </div>

    <div class="column half white-b brd-light-left" data-reg="list"></div>
</div>
