<div class="column half">
    <div class="row clearfix kicker-btns">
            <div class="column fourth">
                <h5 data-evt="category" data-mod="back"><span class="ion-arrow-left-c"></span>Back</h5>
            </div>
            <div class="column fourth">
                <h5 data-evt="category" data-mod="scales"><span class="ion-music-note"></span>Scales</h5>
        </div>
            <div class="column fourth">
                <h5 data-evt="category" data-mod="chords"><span class="ion-grid"></span>Chords</h5>
            </div>
            <div class="column fourth">
                <h5 data-evt="category" data-mod="theory"><span class="ion-ios7-bookmarks-outline"></span>Theory</h5>
            </div>
    </div>
</div>

<div class="column half pvm">
    <button data-mod="add-btn" class="btn btn-niz right" style="position: relative; bottom: 13px;">Add Jamtrack</button>
</div>
