<div class="row clearfix">

    <div class="column half phl">
        <section data-reg="create" style="display:none;"></section>
        <section data-reg="preview"></section>
        <section data-reg="tabs" class="blue-box pam"></section>
    </div>

    <div class="column half white-b brd-light-left" data-reg="list"></div>
</div>
