<header class="mvl">
    <h1 class="killer">{{title}}</h1>
    <p>By {{user.username}}</p>
</header>
<section class="mvl">
    <p class="lead">{{description}}</p>
</section>
<section class="green-swabs mvm">
    <a class="white active">Tabs</a>
    <a>Videos</a>
    <a>Share</a>
</section>
