<div class="row clearfix rel over-base">
    <div class="column six">
        <div class="blue-b txt-center pam form-dark" style="padding-bottom:2000px;">
            <header><h4>Jamtracks</h4></header>
            <form class="inline-form">
                <input type="search" class="mvl">
            </form>
            <p>Sap dap Tracker</p>
            <p>Sap dap Tracker</p>
            <p>Sap dap Tracker</p>
            <p>Sap dap Tracker</p>
        </div>
    </div>

    <div class="column five-six">

        <div class="pvhuge txt-center row clearfix">

            <div data-reg="search" class="row clearfix pvxl rel">
                <div class="column fourth">
                    <h1 style="position: relative; top: -7px;">Search</h4>
                    </div>
                    <div class="column three-fourth form-light">
                        <input type="search" class="column two-thirds" placeholder="In Scales, Chords, etc">
                    </div>
                </div>

                <div class="row mvl clearfix txt-center">
                    <h2 class="white lead">Help us build the wikipedia of guitar chords, scales and music theory!</h2>
                </div>
            </div>

            <div data-reg="content" class="row ltbelt top-shadow rel" style="padding-bottom:2000px;">

                <div data-reg="catContent" style="display:none;"></div>

                <div data-reg="homeContent">
                    <div class="row clearfix paxl">

                        <div class="column half phm">
                            <h2 class="black">Latest Contributions</h2>

                            <div class="row clearfix mvl ptl">
                                <div class="column six">
                                    <img src="/img/profiles/1.jpg" class="thumb-round img-xs">
                                </div>
                                <div class="column five-six">
                                    <p><small class="bold">OMFG Mad Mike<span class="grey-light">At - 23.feb 2014</span></small></p>
                                    <small><span class="ion-music-note icon-2x"></span> C-sharp Harmonic minor scale</small>
                                </div>
                            </div>

                            <div class="row clearfix mvl">
                                <div class="column six">
                                    <img src="/img/profiles/1.jpg" class="thumb-round img-xs">
                                </div>
                                <div class="column five-six">
                                    <p><small class="bold">OMFG Mad Mike<span class="grey-light">At - 23.feb 2014</span></small></p>
                                    <small><span class="ion-music-note icon-2x"></span> C-sharp Harmonic minor scale</small>
                                </div>
                            </div>


                            <div class="row clearfix mvl">
                                <div class="column six">
                                    <img src="/img/profiles/1.jpg" class="thumb-round img-xs">
                                </div>
                                <div class="column five-six">
                                    <p><small class="bold">OMFG Mad Mike<span class="grey-light">At - 23.feb 2014</span></small></p>
                                    <small><span class="ion-music-note icon-2x"></span> C-sharp Harmonic minor scale</small>
                                </div>
                            </div>
                        </div>

                        <div class="column half phm txt-left">
                            <h2 class="black">Top Contributors</h2>

                            <div class="thumb-box row clearfix mvl ptl">
                                <div class="column third">
                                    <img src="/img/profiles/3.jpg" class="shred-thumb">
                                </div>

                                <div class="column two-thirds pam black">
                                    <h3><a href="/users/{{_id}}" class="black">Slash Jason</a></h3>
                                    <p class="mvm">Slash has contributed to 4 Scales, lots of tutorials et.</p>
                                    <ul class="li-hor li-dotted in clearfix">
                                        <li><small>Level 10</small></li>
                                        <li><small>20 Battles</small></li>
                                        <li><small>10 Shreds</small></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="txt-right">
                                <p><span class="black rel" style="bottom: 15px; margin-right: 14px;">Others: </span> <img src="/img/profiles/4.jpg" class="thumb-round img-xs">
                                    <img src="/img/profiles/5.jpg" class="thumb-round img-xs">
                                    <img src="/img/profiles/6.jpg" class="thumb-round img-xs">
                                    <img src="/img/profiles/7.jpg" class="thumb-round img-xs">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
