<div class="row clearfix" style="height:100%;">
	<div data-reg="tabs" style="height:100%; display:none;"></div>
	<div data-reg="main" style="height:100%;">
		<div class="column half">
			<div class="container">
				<div class="col-sm-6 txt-left">
					<header class="bordered-header mvxl" data-evt="type">
						<h2 class="mbs">Upload A New Shredr Video</h2>
						<p class="fat">
							<a href="" class="white active mhs">Lick</a>
							<a href="" class="white mhs">Tutorial</a>
							<a href="" class="white mhs">Cover</a>
							<a href="" class="white mhs">Gear-review</a>
							<a href="" class="white mhs">Other</a>
						</p>

						<button class="btn btn-ser right" style="position: relative;bottom: 45px;" data-evt="addTabs">Add Tabs!</button>
					</header>
					<!-- 			<form class="form-flat"> -->

					<div class="row clearfix input-row">
						<div class="column two-thirds">
							<input type="text" placeholder="Title" id="shred-title">
						</div>
						<div class="column third">
							<label for="shred-title"><em>The title for this Shredr video</em></label>
						</div>
					</div>

					<div class="row clearfix input-row">
						<div class="column two-thirds">
							<textarea placeholder="Description" id="shred-description" class="large"></textarea>
						</div>
						<div class="column third">
							<label for="shred-description"><em>Add a little description or story, if you'd like, to this shred. What was the inspiration, what do you play etc.</em></label>
						</div>
					</div>

					<div class="row clearfix input-row">
						<div class="column two-thirds">
							<div class="clearfix" data-region="shred-tags"></div>
							<input type="text" placeholder="Tags" class="deep" data-event="shred-tags-input">
						</div>
						<div class="column third">
							<label><em>Add tags for that describes the shred. For example C-minor scale, tapping, G-minor7 etc'.</em></label>
						</div>
					</div>

					<div class="row clearfix input-row">
						<div class="column two-thirds">
							<div class="clearfix" data-region="gear-tags"></div>
							<input type="text" class="deep" placeholder="Equiptment" data-event="gear-tags-input">
						</div>
						<div class="column third">
							<label><em>Add tags for the equiptment you used. For instance 'Gibson Les Paul std 1960, or Marshall JCM-2000'.</em></label>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="column half dark-wrapper">
			<div class="container pvxxl">
				<button class="btn btn-buf" data-evt="youtube">Upload With YouTube <span class="ion-social-youtube-outline"></span></button>
			</div>
			<div data-reg="youtube"></div>
			<div data-reg="orLocal">
				<h3 class="head txt-center mvm">Or</h3>
				<div class="row">
					<div data-reg="upload"></div>
				</div>
			</div>

			<div class="footer mal">
				<button data-evt="save" class="btn btn-niz">Save</button>
			</div>
		</div>
	</div>

</div>
