<div class="row clearfix input-row">
    <div class="column two-thirds">
        <div class="clearfix" data-region="gear-tags"></div>
        <input type="text" class="deep" placeholder="Equiptment" data-event="gear-tags-input">
    </div>
    <div class="column third">
        <label class="small"><em>Add tags for the equiptment you used. For instance 'Gibson Les Paul std 1960, or Marshall JCM-2000'.</em></label>
    </div>
</div>
