<div class="row clearfix">
<h2 class="mbs left">Upload A New Shredr Video</h2>
<button class="btn btn-ser right" data-evt="addTabs">Add Tabs!</button>
</div>

<p class="fat">
    <a href="" class="white active mhs">Lick</a>
    <a href="" class="white mhs">Tutorial</a>
    <a href="" class="white mhs">Cover</a>
    <a href="" class="white mhs">Gear-review</a>
    <a href="" class="white mhs">Other</a>
</p>
