<h2 class="mbs">Upload A New Shredr Video</h2>

<p class="fat">
    <a href="" class="white active mhs">Lick</a>
    <a href="" class="white mhs">Tutorial</a>
    <a href="" class="white mhs">Cover</a>
    <a href="" class="white mhs">Gear-review</a>
    <a href="" class="white mhs">Other</a>
</p>

<button class="btn btn-ser right" style="position: relative;bottom: 45px;" data-evt="addTabs">Add Tabs!</button>
