<div class="workspace" data-region="landing">
		<div class="fullscreenimg streched">
			<img src="/img/showroom.jpg">
		</div>

		<div data-reg="resources"></div>
		<div data-reg="mainContent">

		<div class="le-wrap" data-mod="banners">
			<div class="le-in center">
				<div class="row clearfix">

					<div class="column half">
						<section class="ws-banner point ws-banner-right white" id="upload">
							<div class="center-pos brd-light">
								<h1 class="head txt-light mvl">Upload</h1>
								<p class="mvl"><span class="ion-ios7-cloud-upload icon-3x"></span></p>

								<h2 class="lead txt-light">Post a new Shredr video. Either it be a short lick, song cover, tutorial, or just a smooth improvisation</h2>
							</div>
						</section>
					</div>


					<div class="column half">
						<section class="ws-banner point ws-banner-left white" id="resources">
							<div class="center-pos brd-light">
								<h1 class="head txt-light mvl">Resources</h1>
								<p class="mvl"><span class="ion-ios7-musical-notes icon-3x"></span></p>
								<h2 class="lead txt-light">Need inspiration for your Shredr video's? Enter the Resources section. Play along with scales, jamtracks, and improve your musical skills.</h2>
							</div>
						</section>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
