<div class="txt-center pam rel over-base">
    <img src="{{img}}" class="img-md">
    <h3 class="fat mvl">{{title}}</h3>
    <p>{{description}}</p>
    <button class="btn btn-ser mvl" data-evt="close">Ok</button>
</div>

<div class="le-in full-in faded"></div>
