@import url(../../../bower_components/ionicons/css/ionicons.css);
@import url(../../jquery-ui-1.10.4.custom.css);
/*
                                                ,,            ,,                          ,,
 .M"""bgd mm                                    db          `7MM        mm         mm   `7MM                                    OO OO OO
,MI    "Y MM                                                  MM        MM         MM     MM                                    88 88 88
`MMb.   mmMMmm ,pW"Wq.`7MMpdMAo.     `7Mb,od8 `7MM  .P"Ybmmm  MMpMMMb.mmMMmm     mmMMmm   MMpMMMb.  .gP"Ya `7Mb,od8 .gP"Ya      || || ||
  `YMMNq. MM  6W'   `Wb MM   `Wb       MM' "'   MM :MI  I8    MM    MM  MM         MM     MM    MM ,M'   Yb  MM' "',M'   Yb     || || ||
.     `MM MM  8M     M8 MM    M8       MM       MM  WmmmP"    MM    MM  MM         MM     MM    MM 8M""""""  MM    8M""""""     `' `' `'
Mb     dM MM  YA.   ,A9 MM   ,AP       MM       MM 8M         MM    MM  MM         MM     MM    MM YM.    ,  MM    YM.    ,     ,, ,, ,,
P"Ybmmd"  `Mbmo`Ybmd9'  MMbmmd'      .JMML.   .JMML.YMMMMMb .JMML  JMML.`Mbmo      `Mbmo.JMML  JMML.`Mbmmd'.JMML.   `Mbmmd'     db db db
                        MM                         6'     dP
                      .JMML.                       Ybmmmd'

Pattern Lab doesn't have any CSS requirements, which means you can write your styles however you want. Hooray!
You can use Sass, Less, vanilla CSS, or some other crazy thing I haven't heard of yet.
So please don't use these styles. They're just here to put together the demo, and nothing more.
They're intentionally gray, boring, and crappy because you're supposed to do this stuff yourself.

Atomic design is philosophically complimentary with these CSS approaches:

* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : https://github.com/csswizardry/CSS-Guidelines

So feel free to use any of these approaches. Or don't. It's totally up to you.

*/
/*------------------------------------*\
    $TABLE OF CONTENTS
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
	Usage: @include font-size(1, large);
*/
.element p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*

*/
.over-base {
  z-index: 2; }

@font-face {
  font-family: 'gotham_htfbold';
  src: url("../../fonts/gotham/gothamhtf-bold.eot");
  src: url("../../fonts/gotham/gothamhtf-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/gotham/gothamhtf-bold.woff") format("woff"), url("../../fonts/gotham/gothamhtf-bold.ttf") format("truetype"), url("../../fonts/gotham/gothamhtf-bold.svg#gotham_htfbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_htfbook';
  src: url("../../fonts/gotham/gothamhtf-book.eot");
  src: url("../../fonts/gotham/gothamhtf-book.eot?#iefix") format("embedded-opentype"), url("../../fonts/gotham/gothamhtf-book.woff") format("woff"), url("../../fonts/gotham/gothamhtf-book.ttf") format("truetype"), url("../../fonts/gotham/gothamhtf-book.svg#gotham_htfbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_htflight';
  src: url("../../fonts/gotham/gothamhtf-light.eot");
  src: url("../../fonts/gotham/gothamhtf-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/gotham/gothamhtf-light.woff") format("woff"), url("../../fonts/gotham/gothamhtf-light.ttf") format("truetype"), url("../../fonts/gotham/gothamhtf-light.svg#gotham_htflight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham-htfmedium';
  src: url("../../fonts/gotham/gothamhtf-medium.eot");
  src: url("../../fonts/gotham/gothamhtf-medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/gotham/gothamhtf-medium.woff") format("woff"), url("../../fonts/gotham/gothamhtf-medium.ttf") format("truetype"), url("../../fonts/gotham/gothamhtf-medium.svg#gotham_htfmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

.in {
  display: inline-block; }

.right {
  float: right; }

.left {
  float: left; }

.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.white-b {
  background-color: #f2f2ef; }

.blue-b {
  background-color: #313338; }

.white {
  color: #f2f2ef !important; }

.grey-faded {
  color: #474b52; }

.green {
  color: #349b89; }

.faded {
  background-color: rgba(119, 119, 119, 0.14); }

.red {
  color: #d74b4b; }

.black {
  color: #333333; }

.red-grad {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.brown-box {
  background-color: #313338;
  padding: 20px; }
  .brown-box.box-small {
    width: 70%; }

.point {
  cursor: pointer; }

.rel {
  position: relative; }

.vote-bar {
  margin: auto; }

.vote-bar-in {
  -webkit-box-shadow: 0 0 5px rgba(229, 107, 107, 0.21);
  -moz-box-shadow: 0 0 5px rgba(229, 107, 107, 0.21);
  box-shadow: 0 0 5px rgba(229, 107, 107, 0.21);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  height: 4px;
  padding: 0px; }

.battler-vote {
  margin-right: -7px;
  background-color: #d74b4b;
  width: 100px; }

.battlees-vote {
  background-color: #307ca8;
  width: 100px; }

.vote-left {
  position: relative;
  left: -74px; }

.vote-right {
  position: relative;
  right: -74px; }

.brd-light {
  border: 1px solid rgba(255, 255, 255, 0.45); }

.brd-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.63); }

.box {
  border: 1px solid rgba(242, 242, 239, 0.56);
  background: #313338;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.38);
  border-radius: 2px; }

.top-shadow {
  border-top: 1px solid #777777;
  -webkit-box-shadow: 5px -11px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px -11px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 5px -11px 8px rgba(0, 0, 0, 0.55); }

/* things over image, or other thing */
.green-hov {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .green-hov:hover {
    color: #349b89; }
  .green-hov.active {
    color: #349b89; }

.scale {
  display: inline-block; }
  .scale:hover {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }

.dark-wrapper {
  background-image: url("/img/outlets.png");
  background-position: initial initial;
  background-repeat: initial initial; }

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
* Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
* Known issue: no IE 6 support.
*/
[hidden] {
  display: none; }

/* ==========================================================================
Base
========================================================================== */
/**
* 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
* Address `font-family` inconsistency between `textarea` and other form
* elements.
*/
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
* Address margins handled incorrectly in IE 6/7.
*/
body {
  margin: 0; }

/* ==========================================================================
Links
========================================================================== */
/**
* Address `outline` inconsistency between Chrome and other browsers.
*/
a:focus {
  outline: thin dotted; }

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
Typography
========================================================================== */
/**
* Address font sizes and margins set differently in IE 6/7.
* Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
* and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.67em;
  margin: 0; }

/**
* Address styling not present in IE 7/8/9, Safari 5, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
* Address styling not present in Safari 5 and Chrome.
*/
dfn {
  font-style: italic; }

/**
* Address differences between Firefox and other browsers.
* Known issue: no IE 6/7 normalization.
*/
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
* Address styling not present in IE 6/7/8/9.
*/
mark {
  background: #ff0;
  color: #000; }

/**
* Address margins set differently in IE 6/7.
*/
p,
pre {
  margin: 0; }

/**
* Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
* Improve readability of pre-formatted text in all browsers.
*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
* Address CSS quotes not supported in IE 6/7.
*/
q {
  quotes: none; }

/**
* Address `quotes` property not supported in Safari 4.
*/
q:before,
q:after {
  content: '';
  content: none; }

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
Lists
========================================================================== */
/**
* Address margins set differently in IE 6/7.
*/
dl,
menu,
ol,
ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

/**
* Address paddings set differently in IE 6/7.
*/
menu,
ol,
ul {
  padding: 0; }

/**
* Correct list images handled incorrectly in IE 7.
*/
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
Embedded content
========================================================================== */
/**
* 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improve image quality when scaled in IE 7.
*/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
* Correct overflow displayed oddly in IE 9.
*/
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
Figures
========================================================================== */
/**
* Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/
figure {
  margin: 0; }

/* ==========================================================================
Forms
========================================================================== */
/**
* Correct margin displayed oddly in IE 6/7.
*/
form {
  margin: 0; }

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct color not being inherited in IE 6/7/8/9.
* 2. Correct text not wrapping in Firefox 3.
* 3. Correct alignment displayed oddly in IE 6/7.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
* 1. Correct font size not being inherited in all browsers.
* 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
*    and Chrome.
* 3. Improve appearance and consistency in all browsers.
*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
* Address Firefox 3+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
button,
input {
  line-height: normal; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
* Correct `select` style inheritance in Firefox 4+ and Opera.
*/
button,
select {
  text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Remove inner spacing in IE 7 without affecting normal text inputs.
*    Known issue: inner spacing remains in IE 6.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default; }

/**
* 1. Address box sizing set to content-box in IE 8/9.
* 2. Remove excess padding in IE 8/9.
* 3. Remove excess padding in IE 7.
*    Known issue: excess padding remains in IE 6.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"], input[type="text"], input[type="email"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box; }

/**
* Remove inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* Remove inner padding and border in Firefox 3+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
* 1. Remove default vertical scrollbar in IE 6/7/8/9.
* 2. Improve readability and alignment in all browsers.
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important; }

.opac {
  opacity: 0.5; }

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

.no-gap {
  position: relative;
  top: -28px; }

/* positioning */
.right {
  float: right; }

.left {
  float: left; }

.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

/* Display Classes */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none; } }

@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none; } }

@media all and (min-width: 50em) {
  .hide-large {
    display: none; } }

.valid {
  color: #307ca8; }

.error {
  color: #d74b4b; }

.warning {
  color: #fff664; }

.information {
  color: #349b89; }

.font-secondary {
  font-family: "gotham-htfmedium", Times, "Times New Roman", serif; }

.pvs {
  padding: 0.6em 0; }

.pvm {
  padding: 1em 0; }

.pvl {
  padding: 1.5em 0; }

.pvxxl {
  padding: 3em 0; }

.pvxl {
  padding: 2em 0; }

.pvhuge {
  padding: 7em 0; }

.phs {
  padding: 0 0.6em; }

.phm {
  padding: 0 1em; }

.phl {
  padding: 0 1.5em; }

.phs {
  padding: 0 0.6em; }

.pts {
  padding-top: 0.6em; }

.ptm {
  padding-top: 1em; }

.ptl {
  padding-top: 1.5em; }

.ptxl {
  padding-top: 2em; }

.pbm {
  padding-bottom: 1em; }

.prl {
  padding-right: 1.5em; }

.prs {
  padding-right: 0.6em; }

.pls {
  padding-left: 0.6em; }

.pam {
  padding: 0.8em; }

.pal {
  padding: 1.5em; }

.paxl {
  padding: 2.5em; }

.pas {
  padding: 0.6em; }

.mvxs {
  margin: 0 0.3em; }

.mvm {
  margin: 0.8em 0; }

.mvs {
  margin: 0.6em 0; }

.mvl {
  margin: 1.2em 0; }

.mvxl {
  margin: 2em 0; }

.mvhuge {
  margin: 6em 0; }

.mtm {
  margin-top: 0.8em; }

.mtl {
  margin-top: 1.2em; }

.mtxl {
  margin-top: 2em; }

.mbm {
  margin-bottom: 0.8em; }

.mbs {
  margin-bottom: 0.6em; }

.mls {
  margin-left: 0.6em; }

.mll {
  margin-left: 1.2em; }

.mam {
  margin: 0.8em; }

.mas {
  margin: 0.6em; }

.mal {
  margin: 1.2em; }

.maxl {
  margin: 2em; }

.mhm {
  margin: 0 0.8em; }

.mhxl {
  margin: 0 2em; }

.mhs {
  margin: 0 0.6em; }

.mhl {
  margin: 0 1.2em; }

.in {
  display: inline-block; }

.block {
  display: block; }

.cap {
  text-transform: capitalize; }

.blue-box {
  background-color: #313338; }

.green-box {
  background-color: #394245; }

/* colors; */
/* Let there be light */
.ltbelt {
  background-color: #f2f2ef;
  -webkit-box-shadow: background-color 0.3s ease-in;
  -moz-box-shadow: background-color 0.3s ease-in;
  box-shadow: background-color 0.3s ease-in; }
  .ltbelt h1, .ltbelt h2, .ltbelt h3, .ltbelt a, .ltbelt p {
    color: #474b52 !important; }
  .ltbelt .li-hover:hover {
    background-color: #f9f9f9;
    cursor: pointer; }

.blue-b {
  background-color: #313338; }

.white-b {
  background-color: #f2f2ef !important; }

.white {
  color: #f2f2ef !important; }

.face {
  background-color: #4c66a4 !important; }

.green {
  color: #349b89; }

.faded {
  background-color: rgba(119, 119, 119, 0.14); }

.red {
  color: #d74b4b; }

.black {
  color: #333333 !important; }

.red-grad {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.brown-box {
  background-color: #313338;
  padding: 20px; }
  .brown-box.box-small {
    width: 70%; }

.point {
  cursor: pointer; }

.rel {
  position: relative; }

.vert-up {
  position: relative;
  bottom: 2em; }

.vote-bar {
  margin: auto; }

.vote-bar-in {
  -webkit-box-shadow: 0 0 5px rgba(229, 107, 107, 0.21);
  -moz-box-shadow: 0 0 5px rgba(229, 107, 107, 0.21);
  box-shadow: 0 0 5px rgba(229, 107, 107, 0.21);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  height: 4px;
  padding: 0px; }

.battler-vote {
  margin-right: -7px;
  background-color: #d74b4b;
  width: 100px; }

.battlees-vote {
  background-color: #307ca8;
  width: 100px; }

.vote-left {
  position: relative;
  left: -74px; }

.vote-right {
  position: relative;
  right: -74px; }

.brd-dark {
  border: 1px solid rgba(242, 242, 239, 0.56); }

.brd {
  border: 1px solid !important; }

.brd-light {
  border: 1px solid #dddddd; }

.brd-light-left {
  border-left: 1px solid #dddddd; }

.brd-light-bottom {
  border-bottom: 1px solid #dddddd; }

.box {
  border: 1px solid rgba(242, 242, 239, 0.56);
  background: #313338;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.38);
  border-radius: 2px; }

.top-shadow {
  border-top: 1px solid #777777;
  -webkit-box-shadow: 5px -11px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px -11px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 5px -11px 8px rgba(0, 0, 0, 0.55); }

/* things over image, or other thing */
.le-wrap {
  position: relative; }
  .le-wrap .le-in {
    position: absolute; }
    .le-wrap .le-in.center {
      width: 100%;
      text-align: center;
      z-index: 1; }
    .le-wrap .le-in.bottom {
      bottom: 0; }
    .le-wrap .le-in.right {
      right: 0; }
    .le-wrap .le-in.faded {
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      -ms-transition: background-color 0.2s ease;
      -o-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      z-index: 0 !important;
      background-color: #000 !important;
      background: -webkit-gradient(radial, 20% 25%, 0, 100% 100%, 400, from(rgba(0, 0, 0, 0.38)), to(black)) transparent !important;
      background: -moz-radial-gradient(center 45deg, circle cover, rgba(0, 0, 0, 0.38) 0%, black 100%) transparent !important; }
      .le-wrap .le-in.faded:hover {
        background-color: rgba(255, 255, 255, 0.5) !important; }
    .le-wrap .le-in.large-in {
      bottom: 9%;
      font-size: 6em; }
    .le-wrap .le-in.wrap-icon {
      top: 4px;
      right: 10px; }
    .le-wrap .le-in.full-in {
      top: 0;
      width: 100%;
      bottom: 0;
      background-color: inherit;
      z-index: 40; }

.green-hov {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .green-hov:hover {
    color: #349b89; }
  .green-hov.active {
    color: #349b89; }

.white-hov {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .white-hov:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; }
  .white-hov.active {
    background-color: rgba(255, 255, 255, 0.2) !important; }

.scale {
  display: inline-block; }
  .scale:hover {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }

.dark-wrapper {
  background-image: url("/img/outlets.png");
  background-position: initial initial;
  background-repeat: initial initial; }

body {
  background: #2b2828;
  font-family: "gotham_htfbook", "Helvetica", "Arial", sans-serif;
  color: #f2f2ef;
  font-size: 0.875em; }

/* Small screens (default) */
html {
  font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html {
    font-size: 112%; } }
/* Large screens (1024px) */
@media (min-width: 64rem) {
  html {
    font-size: 120%; } }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

#main {
  margin-top: 2em; }

.full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: #000;
  background: -webkit-gradient(radial, 50% 25%, 0, 50% 25%, 800, from(rgba(0, 0, 0, 0.85)), to(black)) transparent;
  background: -moz-radial-gradient(center 45deg, circle cover, rgba(0, 0, 0, 0.85) 0%, black 100%) transparent;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  .full-screen.show {
    opacity: 0.5;
    z-index: 50; }
  .full-screen.hi-opac {
    opacity: 0.8; }

footer {
  position: absolute;
  bottom: 0; }

.scrollable {
  position: fixed;
  height: 100%;
  overflow-y: scroll; }

.no-top-marg {
  margin-top: -2.7em; }

.vid-thmb-list {
  max-height: 359px;
  overflow-y: scroll; }

/* Links */
a {
  color: #333333;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #777777; }

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  line-height: 1.2; }

h2, .beta {
  line-height: 1.2; }

h3, .gamma {
  line-height: 1.2; }

/* Subheadings */
.subheading {
  font-family: "gotham-htfmedium", Times, "Times New Roman", serif;
  font-weight: normal; }

h1, h2, h3 {
  font-family: "gotham_htflight", "Helvetica", "Arial", sans-serif;
  color: #f2f2ef; }

a {
  color: rgba(255, 255, 255, 0.67);
  text-decoration: none; }

.glow {
  text-shadow: 1px 1px 2px #EBF0B5; }

.win {
  text-decoration: underline;
  font-style: italic; }

strong {
  font-family: "gotham-htfmedium", Times, "Times New Roman", serif; }

.head {
  font-size: 1.4375em; }

.killer {
  font-size: 2.875em; }

.lead {
  font-family: "gotham_htflight", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

.fat {
  font-family: "gotham_htfbold", "Helvetica", "Arial", sans-serif; }

.xsmall {
  font-size: 0.5em; }

small, .small {
  font-size: 0.75em;
  color: #777777; }

.icon {
  font-size: 1.3em; }

.icon-2x {
  font-size: 2em; }

.icon-3x {
  font-size: 3em; }

.txt-light {
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6); }

/* Text-Related Elements */
/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid #777777;
  color: #777777;
  padding-left: 1.2em;
  margin-bottom: 1em; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #eeeeee;
  margin: 2em 0; }

abbr {
  border-bottom: 1px dotted #777777;
  cursor: help; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto; }

iframe {
  margin-bottom: 1em; }

figure {
  margin-bottom: 1em; }
  figure img {
    margin-bottom: 0.5em; }

figcaption {
  font-style: italic; }

.shred-vid-wrap {
  height: 359px; }

.shred-vid {
  width: 100.1%;
  padding: 1px;
  border: 1px solid #000;
  max-height: 100%;
  background: #313338; }
  .shred-vid.half {
    max-height: 321px; }

.logo-xs {
  width: 1.2em; }

.logo-sm {
  width: 1.6em; }

.logo-md {
  width: 3em; }

.logo-lg {
  width: 5em; }

.img-sm {
  width: 80px;
  height: 80px; }

.img-md {
  width: 120px;
  height: 120px; }

.video-thumb {
  width: 50%; }

.img-large {
  width: 250px;
  height: 250px; }

.img-xs {
  width: 40px;
  height: 40px; }

.thumb-round {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4); }

.thumb-txt {
  max-width: 70%;
  display: inline-block;
  position: relative;
  bottom: 12px;
  margin: 0 12px; }

.vid-drag {
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: move; }

.profile-img {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px; }

/* Thumbs- Stage ++ */
.profile-img-thumb {
  right: 4px;
  top: 8px; }

.shred-thumb {
  width: 100%;
  max-height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.stage-thumb-wrap {
  cursor: pointer; }
  .stage-thumb-wrap.small {
    height: 118.5px; }

.box-wrap {
  margin: 1px; }
  .box-wrap .le-in.thmb {
    bottom: 0em;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }
    .box-wrap .le-in.thmb.battle-in {
      bottom: 30%; }

.social {
  display: inline-block;
  padding: 8px 10px;
  background: #313338; }

/* video */
.video-meta {
  background: rgba(0, 0, 0, 0.45);
  padding: 14px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 9px;
  z-index: 10;
  position: absolute;
  color: #f2f2ef; }

.banner {
  background: url("/img/crowdbanner2.jpg");
  background-size: contain;
  background-position: center;
  width: 100%;
  min-width: 100%;
  height: 150px; }
  .banner .content {
    height: 150px; }

.fullscreenimg {
  position: fixed;
  top: 117px;
  left: -50%;
  width: 200%;
  height: 200%;
  opacity: 0.4;
  z-index: 1; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
  list-style: none;
  margin-left: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

label {
  display: block;
  padding-bottom: 0.5em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 0.8em; }

textarea {
  resize: none; }
  textarea.tall {
    height: 8em; }

input, textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0.8em 0.65rem; }

input:-webkit-autofill {
  background-color: #f2f2ef !important; }

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em; }

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 15px;
  padding: 0.7em 0.6rem;
  width: 160px; }

.search-wrap {
  position: relative; }
  .search-wrap .search-icon {
    position: absolute;
    top: 7px;
    left: 14px; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Validation */
.has-error {
  border-color: #d74b4b; }

.is-valid {
  border-color: #307ca8; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
.form-dark {
  background-color: #313338 !important; }
  .form-dark input, .form-dark textarea {
    background-color: #2b2828; }
  .form-dark h2, .form-dark h4, .form-dark p, .form-dark label, .form-dark input, .form-dark textarea {
    color: #f2f2ef !important; }
  .form-dark a {
    color: #307ca8 !important; }
  .form-dark .deep {
    background-color: rgba(31, 30, 30, 0.81);
    height: 3em;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.85); }

input[type="file"] {
  width: 75px;
  background-color: transparent !important; }
  input[type="file"].upload {
    margin-top: 15px; }

.upload-box {
  width: 48%;
  margin: auto;
  border: 2px dotted;
  border-radius: 13px;
  background: rgba(51, 51, 51, 0.43);
  margin-top: 225px;
  margin-bottom: 16px;
  background-color: #2b2828; }
  .upload-box.upl-small {
    width: 25%; }
    .upload-box.upl-small h5 {
      padding: 30px; }
  .upload-box.upl-full {
    width: 100%; }
    .upload-box.upl-full h5 {
      padding: 35px; }
  .upload-box h5 {
    padding: 80px;
    margin: 0; }
  .upload-box .highlight {
    border-radius: 13px;
    background: #313338; }

.input-row input, .input-row textarea {
  margin: 2em 0;
  width: 80%; }
.input-row label {
  margin-top: 2em; }
.input-row .clear-marg {
  margin: 0; }

/* Search Form */
.search-field {
  padding-right: 3em; }

.input-on-dark {
  background: #474b52;
  color: #f2f2ef; }

.small-form {
  font-size: 0.875em;
  padding: 0.5rem;
  width: 50%; }

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #777777;
  color: #777777; }

.ui-autocomplete {
  background-color: rgba(31, 30, 30, 0.81);
  z-index: 1001; }

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #777777;
  width: 100%; }

th {
  text-align: left;
  border: 1px solid #777777;
  padding: 0.2em; }

td {
  border: 1px solid #777777;
  padding: 0.2em; }

.animate-fade {
  -webkit-transition: opacity, 0.3s, ease-out;
  -moz-transition: opacity, 0.3s, ease-out;
  -ms-transition: opacity, 0.3s, ease-out;
  -o-transition: opacity, 0.3s, ease-out;
  transition: opacity, 0.3s, ease-out; }
  .animate-fade:hover {
    opacity: 0; }

.animate-move > .demo-shape {
  -webkit-transition: all, 0.8s, ease-in-out;
  -moz-transition: all, 0.8s, ease-in-out;
  -ms-transition: all, 0.8s, ease-in-out;
  -o-transition: all, 0.8s, ease-in-out;
  transition: all, 0.8s, ease-in-out; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.container, .header {
  margin: 0 auto;
  max-width: 60rem;
  width: 90%; }

.row {
  width: 100%; }

@media (min-width: 40rem) {
  .column {
    float: left; }

  .column.full {
    width: 100%; }

  .column.two-thirds {
    width: 66.7%; }

  .column.half {
    width: 50%; }

  .column.third {
    width: 33.3%; }

  .column.fourth {
    width: 24.95%; }

  .column.three-fourth {
    width: 74.85%; }

  .column.ten {
    width: 10%; }

  .column.nine-ten {
    width: 90%; }

  .column.six {
    width: 16.6%; }

  .column.five-six {
    width: 83%; }

  .column.five {
    width: 20%; }

  .column.four-five {
    width: 80%; }

  .column.flow-opposite {
    float: right; }

  .column.flow-opposite {
    float: right; } }
/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
.header {
  background: #f2f2ef;
  padding: 0;
  border-bottom: 1px solid #dbdbdb; }

.logo {
  float: left;
  background: #349b89;
  max-width: 8rem;
  margin: 0.4rem; }
  @media all and (min-width: 46.8em) {
    .logo {
      max-width: 9rem; } }

.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb; }
  @media all and (min-width: 46.8em) {
    .nav-toggle {
      display: none; } }
  @media all and (max-width: 17em) {
    .nav-toggle {
      padding-left: 0.2rem;
      padding-right: 0.2rem; } }

.search-form {
  overflow: hidden;
  max-height: 0; }
  @media all and (min-width: 46.8em) {
    .search-form {
      float: right;
      max-height: none;
      margin: 0.65em 0.5em 0 0; } }

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.nav {
  background-color: #2b2828;
  height: 3.9em;
  padding: 0.3em; }
  .nav > ul {
    height: 100%; }
    .nav > ul > li {
      padding-right: 3em;
      height: 100%;
      vertical-align: middle;
      display: table-cell; }
  .nav .active {
    background-color: #313338;
    font-weight: 900;
    padding-top: 0.7em;
    color: #f2f2ef; }

.kicker {
  background-color: #313338; }

.kicker-btns {
  text-align: center; }
  .kicker-btns h5 {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.81);
    cursor: pointer;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
    .kicker-btns h5:hover {
      color: #fff; }
  .kicker-btns span {
    display: block;
    padding: 0.4em; }

.nav-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 2.2em;
  text-align: center; }
  .nav-center a {
    padding: 0.7em 3.4em;
    background-color: #394245;
    font-family: "gotham_htflight", "Helvetica", "Arial", sans-serif;
    position: relative;
    bottom: 4px; }

.nav-right {
  float: right; }

.nav-left {
  float: left; }

.side-nav {
  background: rgba(0, 0, 0, 0.52);
  border: 1px solid rgba(255, 255, 255, 0.57); }
  .side-nav li {
    padding: 8px;
    cursor: pointer;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease; }
    .side-nav li.selected {
      background: rgba(255, 255, 255, 0.29); }
    .side-nav li:hover {
      background: rgba(255, 255, 255, 0.29); }

.green-swabs a {
  display: inline-block;
  margin-right: 2em;
  color: #f2f2ef;
  font-family: "gotham_htfbold", "Helvetica", "Arial", sans-serif;
  cursor: pointer; }
  .green-swabs a.active {
    border-bottom: 2px solid #349b89; }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background: #131313;
  color: #f2f2ef;
  line-height: 1.2; }
  .footer a {
    color: #f9f9f9; }

.nav-footer {
  margin: -1.2em -1.2em 1em; }
  .nav-footer li {
    border-bottom: 1px solid #333333; }
    @media all and (min-width: 46.8em) {
      .nav-footer li {
        border: 0;
        float: left; } }
  .nav-footer a {
    display: block;
    padding: 1.2em; }

@media all and (min-width: 46.8em) {
  .copyright {
    float: right; } }

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
.intro {
  font-size: 1.0625em;
  font-weight: bold; }

.pullquote {
  font-family: "gotham-htfmedium", Times, "Times New Roman", serif;
  font-size: 1.4375em; }

.caption {
  font-style: italic; }

.text a {
  text-decoration: underline; }
.text ul {
  list-style: disc;
  margin: 0 0 1em 1.2em; }
  .text ul ul {
    margin-bottom: 0; }
.text ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em; }
  .text ol ol {
    margin-bottom: 0; }

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/* Icon Font */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before {
  content: "\74"; }

.icon-stumbleupon:before {
  content: "\75"; }

.icon-pinterest:before {
  content: "\70"; }

.icon-linkedin:before {
  content: "\69"; }

.icon-google-plus:before {
  content: "\67"; }

.icon-search:before {
  content: "\73"; }

.icon-play:before {
  content: "\61"; }

.icon-menu:before {
  content: "\21"; }

.icon-arrow-left:before {
  content: "\23"; }

.icon-arrow-right:before {
  content: "\24"; }

.icon-bubble:before {
  content: "\25"; }

.icon-facebook:before {
  content: "\66"; }

.icon-feed:before {
  content: "\27"; }

.icon-youtube:before {
  content: "\79"; }

.icon-tag:before {
  content: "\28"; }

.icon-tumblr:before {
  content: "\6d"; }

.icon-instagram:before {
  content: "\22"; }

.icon-podcast:before {
  content: "\26"; }

.icon-android:before {
  content: "\29"; }

.icon-apple:before {
  content: "\2a"; }

.icon-envelope:before {
  content: "\2b"; }

.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-play:before {
  font-size: 0.7rem;
  padding-left: 0.2em; }

.icon-play-box {
  display: block;
  margin-left: 2.4em; }

.icon-play-box:before {
  padding: 0.3em;
  background: #777777;
  color: #f2f2ef;
  margin-left: -1.7rem;
  margin-right: 0.8em; }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  display: inline-block;
  background: #349b89;
  color: #f2f2ef;
  line-height: 1;
  font-family: "gotham_htfbold", "Helvetica", "Arial", sans-serif;
  padding: 1.2em;
  border: 0;
  font-size: 0.75em;
  text-align: center;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn:hover, .btn:focus {
    background: #61b1a3; }
  .btn.disabled {
    background: #eeeeee;
    color: #777777; }
  .btn.wide {
    min-width: 140px; }

.btn-small {
  padding: 0.8em;
  font-size: 0.75em; }

.btn-info {
  background-color: #307ca8; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background-color: #4b8cb3; }

.btn-huge {
  padding: 2em; }

.btn-buf {
  background-color: #2b2828;
  border: 1px solid #313338; }
  .btn-buf:hover {
    background-color: #313338; }

.text-btn {
  font-style: italic; }

.tab-btn {
  margin: 1em 2em;
  display: inline-block;
  color: #2b2828;
  cursor: pointer;
  border: none; }
  .tab-btn:hover {
    color: #40bda7; }
  .tab-btn.active {
    border-width: 9px; }

.btn-niz {
  background-color: #349b89; }
  .btn-niz:hover {
    background-color: #40bda7; }

.btn-def {
  background-color: #313338; }
  .btn-def:hover {
    background-color: #474b52; }

.btn-ser {
  background-color: #d74b4b;
  color: #333333; }
  .btn-ser:hover {
    background-color: #e56b6b; }

.btn-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid; }

.label {
  border-radius: 50%;
  padding: 3px 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #f2f2ef;
  cursor: pointer;
  background-color: #d74b4b; }
  .label:hover {
    background-color: #e56b6b; }
  .label.non {
    background-color: transparent; }
    .label.non:hover {
      background-color: rgba(255, 255, 255, 0.1); }

.tags {
  margin: 1px;
  float: left;
  background: #d74b4b;
  color: #333333;
  padding: 2px 2px;
  border: 1px solid #333333; }

/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
  background: #dcdddc;
  padding: 2.4em;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee; }

/* Block */
.block {
  overflow: hidden; }
  .block p:last-child {
    margin-bottom: 0; }

.headline {
  line-height: 1.2; }

/* Hero Block */
.block-hero {
  margin-bottom: 0.5em; }
  .block-hero .b-thumb img {
    display: block; }
  @media all and (min-width: 50em) {
    .block-hero {
      position: relative; }
      .block-hero .b-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #f2f2ef;
        padding: 1.8em; } }

/* Block Thumbnail with Headline */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse; }
  .block-thumb .b-inner {
    display: table-row;
    vertical-align: top;
    overflow: hidden; }
  @media all and (min-width: 29.75em) {
    .block-thumb .b-thumb {
      display: table-cell;
      vertical-align: top;
      width: 30%;
      max-width: 10em; }
      .block-thumb .b-thumb img {
        display: block;
        width: 100%;
        height: auto; } }
  @media all and (min-width: 29.75em) {
    .block-thumb .b-text {
      display: table-cell;
      width: 70%;
      padding: 0 1.2em; } }

/* Block Headline Summary */
.block-headline-summary a {
  display: block;
  padding: 0.8em; }

/* Block Inset */
.block-inset {
  position: relative; }
  .block-inset .b-thumb {
    position: relative;
    z-index: 0; }
    .block-inset .b-thumb img {
      display: block; }

/* Hero Block */
.block-inset {
  margin-bottom: 0.5em;
  position: relative; }
  .block-inset .headline {
    font-size: 1.1em; }
  .block-inset .b-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f2f2ef;
    padding: 0.8em; }

/* Block Thumb with Summary */
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%; }
.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.8em; }

#feed {
  background-image: url(/img/banners/stones.jpg);
  background-size: cover;
  background-position: inherit; }

.feed .banner {
  box-shadow: -2px 11px 8px -10px rgba(32, 32, 32, 0.71); }
.feed .feed-list {
  max-height: 42em;
  overflow-y: scroll; }
.feed .le-feed {
  margin: 20px 0; }
.feed .le-marg {
  width: 10%;
  display: inline-block;
  text-align: left; }
.feed .le-content {
  padding: 0 5px;
  display: inline-block;
  width: 89%;
  vertical-align: top; }

.timeline {
  position: absolute;
  top: 151px;
  margin-left: 10px;
  bottom: 0;
  width: 1px;
  background-color: rgba(242, 242, 239, 0.44);
  left: 10%; }

.inline-list li {
  float: left; }

/* Social List */
.social-list li {
  margin: 0 0.4rem 1em 0; }
.social-list a {
  font-size: 1.6em; }

/* Headline List */
.headline-list {
  margin-bottom: 1em; }
  .headline-list.flush {
    margin: 0; }
  .headline-list h4 {
    font-weight: normal; }
  .headline-list li {
    padding: 0.3em 0;
    border-top: 1px solid #dddddd; }

/* Post List */
.post-list li {
  margin-bottom: 1em; }

/* Bullet List */
.bullet-list {
  list-style: disc outside none;
  line-height: 1.3; }
  .bullet-list li {
    margin-bottom: 1em; }

/* Text List */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3; }
  .text-list li {
    margin-bottom: 1em; }

.tooltip-container {
  display: inline-block;
  position: relative; }
  .tooltip-container:hover .tooltip {
    display: block; }

.tooltip-link {
  background: #f9f9f9; }

.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1.2em;
  background: #f2f2ef;
  border: 1px solid #777777;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2); }
  .tooltip h2 {
    margin-top: 0; }
  @media all and (min-width: 24em) {
    .tooltip {
      width: 22em; } }
  @media all and (min-width: 29.75em) {
    .tooltip {
      width: 27em; } }
  @media all and (min-width: 39.8em) {
    .tooltip {
      width: 30em; } }

.accordion {
  margin-bottom: 1em; }

.acc-handle {
  background: #131313;
  color: #f2f2ef;
  font-family: "gotham-htfmedium", Times, "Times New Roman", serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.8em;
  border-bottom: 1px solid #dddddd; }
  .acc-handle:after {
    content: "+";
    float: right; }
  .acc-handle:hover {
    color: #f2f2ef;
    background: #333333; }
  .acc-handle.active {
    background: #333333; }
    .acc-handle.active:after {
      content: "-"; }

.tabsArea {
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block; }
  .tabsArea .tabs-row {
    margin: 19px 0;
    position: relative; }
    .tabsArea .tabs-row:first-child {
      margin: 0; }
  .tabsArea label {
    position: absolute;
    text-shadow: 5px 5px 12px black;
    font-size: 10px;
    position: absolute;
    color: white; }
    .tabsArea label:hover {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); }
  .tabsArea .tabs-cursor {
    position: absolute;
    top: 9px;
    width: 25px;
    padding: 0 0 0 4px;
    margin: 0;
    display: inline;
    background: transparent;
    border-color: transparent;
    border-left: 1px solid #fff;
    font-size: 12px;
    line-height: 12px;
    left: 11px;
    height: 18px;
    color: white; }
    .tabsArea .tabs-cursor.note {
      border: none; }

#tabs-cursor {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.76);
  border-radius: 0;
  height: 20px;
  top: 10px; }

.jamtrack-player {
  position: fixed;
  width: 250px;
  right: 0;
  top: 20%; }
  .jamtrack-player.pull-right {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0); }
  .jamtrack-player.pull-right-after {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0); }
  .jamtrack-player .jt-content {
    padding: 14px 35px;
    background-color: #307ca8;
    color: #f2f2ef; }

.section {
  margin: 0 0 1em; }

.section-title {
  margin-bottom: 0.5em; }

.article-header h1 {
  font-size: 2.5em; }

.byline {
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 0.5em; }

.social-share {
  overflow: hidden;
  margin-bottom: 1em; }
  .social-share li {
    float: left;
    margin-right: 0.5em; }
  .social-share a {
    background: #333333;
    color: #f2f2ef;
    display: block;
    padding: 0.8em; }
    .social-share a:hover {
      background: #777777; }

.comments li {
  margin-bottom: 1em; }

.comment-container {
  overflow: hidden;
  margin-bottom: 1em;
  list-style: none; }

.comment-meta {
  float: left;
  width: 6.5em; }
  .comment-meta img {
    display: block;
    border: 1px solid #eeeeee;
    margin-bottom: 0.5em; }

.comment-name {
  font-size: 0.75em; }

.comment-text {
  margin-left: 9em; }

/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/
.alert {
  text-align: center;
  padding: 1.2em;
  margin-bottom: 0.5em;
  border: 1px solid #777777;
  background: #f9f9f9; }

.alert-error {
  color: #d74b4b;
  border-color: #d74b4b;
  background: #ffbebe; }

.messages {
  max-height: 268px;
  overflow-y: scroll;
  background: #2b2828;
  margin: 12px;
  text-align: left;
  border: 1px solid rgba(242, 242, 239, 0.56); }

.battle-play {
  padding: 40px 80px;
  background: #313338;
  border-radius: 50%;
  border: 1px solid #999;
  box-shadow: 0 0 4px #333;
  opacity: 0.9; }

.battle-social {
  bottom: -33px;
  right: 20%; }

.battle-drag-label {
  border-left: 3px solid #333;
  line-height: 1.3em;
  position: absolute;
  padding: 0; }

.battle-anim {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 2%;
  top: 0;
  text-align: center;
  z-index: 100; }
  .battle-anim .pull-left {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0); }
  .battle-anim .battle-vs {
    margin-top: 30px; }
  .battle-anim .pull-left-after {
    top: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .battle-anim .pull-right {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(1000%, 0, 0);
    transform: translate3d(1000%, 0, 0); }
  .battle-anim .pull-right-after {
    top: 0;
    -webkit-transform: translate3d(270%, 0, 0);
    transform: translate3d(270%, 0, 0); }

.audio-bfr {
  background-color: #d74b4b;
  height: 1.2em;
  position: relative; }

.arrow {
  position: absolute;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.24);
  top: 15px; }
  .arrow.right {
    right: 15%; }
  .arrow.left {
    left: 15%; }

.crop {
  float: left;
  width: 100px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* lt ie8 */
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
  /* scale bg image proportionately */
  background-size: cover; }

.battle-thumbs {
  height: 200px; }

.modal {
  position: fixed;
  left: 50%;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 100;
  background-color: #777777;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .modal.pull-down {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  .modal .modal-body {
    height: 100%; }
  .modal.pull-down-after {
    -webkit-transform: translate3d(0, 130px, 0);
    transform: translate3d(0, 130px, 0); }
  .modal.modal-tall {
    height: 540px; }
    .modal.modal-tall .dark-wrapper {
      height: 100%; }
  .modal.pull-down-left-before {
    -webkit-transform: translate3d(200%, 130px, 0);
    transform: translate3d(200%, 130px, 0); }
  .modal.pull-down-left-after {
    -webkit-transform: translate3d(-200%, 130px, 0);
    transform: translate3d(-200%, 130px, 0); }
  .modal.modal-huge {
    margin-left: -40%;
    width: 80%; }
  .modal .modal-exit-btn {
    cursor: pointer;
    position: absolute;
    color: #f2f2ef;
    right: 0;
    top: -36px;
    padding: 1px 5px;
    font-size: 1em; }
  .modal.modal-short {
    width: 286px;
    margin-left: -143px; }
  .modal.modal-med {
    width: 400px;
    margin-left: -200px; }
  .modal.modal-wide {
    width: 100%; }
    @media (min-width: 768px) {
      .modal.modal-wide {
        margin-left: -350px;
        width: 700px; } }
  @media (max-width: 767px) {
    .modal {
      left: 0; } }
  .modal label, .modal h4, .modal h2, .modal a, .modal p {
    color: #333333; }

.profile .thumb-box .ingress {
  max-height: 54px;
  overflow-y: hidden; }
.profile .full-right {
  background-color: #313338;
  border-left: 1px solid rgba(242, 242, 239, 0.56);
  right: 0;
  top: 117px;
  width: 50%; }
.profile .full-left {
  position: fixed;
  top: 117px;
  width: 50%;
  bottom: 0;
  left: 0; }
.profile #map-canvas {
  height: 100%; }

.battle-ch-banner {
  background-image: url(/img/banners/crowd2mode.jpg);
  background-position: 85% 60%; }

#upload {
  background-image: url(/img/banners/mic.png);
  background-size: cover; }

#resources {
  background-image: url(/img/banners/theory.png);
  background-size: cover; }

.ws-banner {
  margin-top: 10%;
  width: 300px;
  height: 500px;
  z-index: 2;
  position: relative; }
  .ws-banner > div {
    padding: 15% 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.89);
    -moz-box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.89);
    box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.89); }
    .ws-banner > div:hover {
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out;
      -ms-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }

.ws-banner-right {
  float: right;
  margin-right: 10%; }

.ws-banner-left {
  margin-left: 10%; }

.dropdown {
  position: absolute;
  z-index: 200;
  left: 0;
  min-width: 300px;
  top: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-color: #f2f2ef; }
  .dropdown .row {
    padding: 15px 10px; }
  .dropdown .footer {
    background-color: #307ca8;
    padding: 5px 10px;
    line-height: 2em; }
  .dropdown > div {
    max-height: 400px;
    overflow-y: scroll; }
  .dropdown.right-menu {
    left: inherit !important;
    right: 0; }

.arrow-up-right:after, .arrow-up-right:before {
  bottom: 100%;
  left: 83% !important;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow-up {
  background: #f2f2ef;
  border: 2px solid #313338; }

.arrow-up:after, .arrow-up:before {
  bottom: 100%;
  left: 8%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow-up:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f2f2ef;
  border-width: 10px;
  margin-left: -10px; }

.arrow-up:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #313338;
  border-width: 16px;
  margin-left: -16px; }
