// base
$black: #333;
$brown: #2b2828;
$white-light: #fff;
$brown-light: #313338;
$green: #349B89;
$blue: #307CA8;
$grey: #777777;
$grey-light: #eee;
$red: #D74B4B;

// variations
$green-light: #40BDA7;
$red-light: #E56B6B;
$grey-trans: rgba(119, 119, 119, 0.14);
$brown-light-light: #474b52;

// component-colors
$grey-border:#dce4ec;


$white: rgba(255, 255, 255, 0.56);
$white-on-brown: rgba(255, 255, 255, 0.67);
$white-on-brown-brdr: rgba(255, 255, 255, 0.3);
$black-trans: rgba(0, 0, 0, 0.75);
