@import 'mixins';
@import 'variables';

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
    margin:0;
}

#main {
    margin-top:2em;
}

.feed {
    height: 35em; /* ca 2 thumb columns */
}

.full-screen {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity:0;
    z-index:-1;
    background: #000;
    background: -webkit-gradient(radial,50% 25%,0,50% 25%,800,from(rgba(0,0,0,.85)),to(#000)) transparent;
    background: -moz-radial-gradient(center 45deg,circle cover,rgba(0,0,0,.85) 0%,#000 100%) transparent;
    @include transition(opacity 0.5s ease);

    &.show { opacity: 0.5; z-index: $z-fullscreen;}
    &.hi-opac { opacity:0.8; }
}
