@import '../base/color';
@import '../variables';

.tab-btn {
    margin: 1em 2em;
    display: inline-block;
    color: $brown;
    cursor:pointer;
    border:none;
    &:hover { color: $green-light; }

    &.active {
        border-bottom: 9px solid $green;
    }
}

.btn {
    padding:10px 20px;
    font-family: $fat;
    border:none;
    text-align: middle;
    vertical-align: middle;
    cursor:pointer;
    color: $white-light;
    @include transition (background-color 0.3s ease-in-out);
}

.btn-logo {

}

.btn-niz {
    background-color:$green;
    &:hover { background-color: $green-light; }
}

.btn-ser{
    background-color:$red;
    &:hover { background-color: $red-light; }
}

.btn-small {
    font-size: $font-base;
    padding:8px 16px;
}


.btn-round {
    @include border-radius(50%);
    border: 2px solid;
}

.label {
    border-radius: 50%;
    padding: 3px 6px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color : $white-light;
    cursor: pointer;
    background-color:$red;
    &:hover {
        background-color:$red-light;
    }
    &.non {
        background-color: $brown-light;
    }

}
