// https://kuler.adobe.com/Clean-and-simple-color-theme-3719589/
@import '../base/color';

.logo-xs { width: 1.2em;}
.logo-md {
    width:3em;
}
.logo-lg {
    width:5em;
}

.img-md {
    width:6em;
}

.img-large {
    width:250px;
    height:250px;
}

.img-small {
    width: 40px;
    height: 40px;
}

.thumb-round {
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

// <h3><span>text</span><img></h3>
.thumb-txt {
    position: relative;
    bottom: 12px;
    margin: 0 12px;
}

.vid-drag {
    height:100%;
	border: 1px solid rgba(255, 255, 255, 0.25);
	cursor: move;
}

/* Thumbs- Stage ++ */
.shred-thumb {
    width:100%;
}

.shred-thumb-wrap {
    margin:1px;

    .le-in {
        bottom: 1em;
        width: 100%;
        background: rgba(52, 155, 137, 0.45);
        color: $white-light;
        small {
            color:$grey;
        }
        &.battle-in {
            bottom: 30%;
        }
    }
}

.crop{
	float:left;
	overflow:hidden; /* this is important */
	position:relative; /* this is important too */
	width:100%;
	height:65px;
	}
/* position the image using negative top and left values */
.crop img{
    position:absolute;
    // top:-20px;
}

.social {
    display:inline-block;
    padding:8px 10px;
    background: $brown-light;
}
