<div class="container rel">
    <div class="row clearfix" data-reg="wrap"><p class="lead">The Shredr Workspace</p></div>
    <a href="/workspace" data-reg="workspace" class="btn btn-niz workspace-btn">Workspace <span class="ion-mic-a"></span></a>
</div>
