<ul class="nav-left no-style">
    <li><a href="/"><img class="logo-md" src="/images/logos/logo_sml_white.png"></img></a></li>
    <li class="rel" data-reg="notifications"></li>
</ul>

<div class="nav-center">
    <a href="/stage/shreds" data-mod="shreds">Shreds</a>
    <a href="/stage/battles" data-mod="battles">Battles</a>
    <a href="/stage/users" data-mod="users">Shredders</a>
</div>

<ul class="nav-right no-style">
    <li><a href="/users/{{user._id}}"><img src="{{user.profileImgFile}}" class="thumb-round img-xs"></a></li>

    <li><a href="#" class="icon ion-ios7-gear point" data-evt="menu"></a></li>
        <div class="arrow-up arrow-up-right dropdown right-menu" data-reg="menu-body" style="display:none;">
            <div class="pam">
                <li class="row txt-left small clearfix black brd-light-bottom point">
                    <a data-evt="editProfile" class="black">Edit Profile</a>
                </li>
                <li class="row txt-left small clearfix black brd-light-bottom point">
                    <a href="/logout" class="black">Logout</a>
                </li>
            </div>

            <div class="footer row clearfix">
                <p><span class="icon ion-ios7-close-empty icon-2x point right" data-evt="drop"></span></p>
            </div>
        </div>
</ul>
