<ul class="nav-left no-style">
    <li><a href="/"><img class="logo-md" src="/images/logos/logo_sml_white.png"></img></a></li>
    <li class="rel" data-reg="notifications"></li>
</ul>

<div class="nav-center">
    <a href="/stage/shreds" data-mod="shreds">Shreds</a>
    <a href="/battle" data-mod="battles">Battles</a>
    <a href="/stage/users" data-mod="users">Profiles</a>
</div>

<ul class="nav-right no-style">
    <li><img src="{{user.profileImgFile}}" class="thumb-round img-xs"></li>
    <li>
        <section data-event="menu" class="rel">
            <i class="icon ion-ios7-gear"></i>
            <ul class="dropdown" style="display:none">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#" data-evt="logout">Logout</a></li>
            </ul>
        </section>
    </li>
</ul
