<ul class="nav-left no-style">
    <li><a href="/"><img class="logo-md" src="/images/logos/logo_sml_white.png"></img></a></li>
</ul>

<div class="nav-center">
    <a href="/stage/shreds" data-mod="shreds">Shreds</a>
    <a href="/stage/battles" data-mod="battles">Battles</a>
    <a href="/stage/users" data-mod="users">Users</a>
</div>

<ul class="nav-right no-style">
</ul
