<section class="jt-content">
    <h6><span class="ion-stop prl point" data-evt="stop"></span><span data-reg="title"></span></h6>
</section>

<audio>
<p>Your browser does not support the audio element.</p>
</audio>
