<section class="jt-content">
    <h4><span class="ion-ios7-pause-outline prl"></span><span data-reg="title"></span></h4>
</section>

<audio>
<p>Your browser does not support the audio element.</p>
</audio>
