<div class="row clearfix" style="height:100%;">
    <div data-reg="main" style="height:100%;">
        <div class="column half">
            <div class="container">
                <header class="mvxl"><h3>Challenge {{username}} to Battle!</h3></header>

                <div class="col-sm-6 txt-center mtxl">
                    <img src="{{battler.profileImgFile}}" class="thumb-round img-sm">
                    <h6 class="fat pal vert-up in">VS</h6>
                    <img src="{{battlee.profileImgFile}}" class="thumb-round img-sm">
                </div>

                <div class="mvl">
                    <p class="lead small white"><strong>Battles</strong> is a competition between two players.
                        Each player takes turn in uploading a video. Others <strong>vote</strong>.
                        Battles can also have a <strong>backingtrack</strong></p>
                </div>

                <div class="col-sm-6 txt-left mtxl">
                    <div class="row clearfix input-row">
                        <div class="column two-thirds">
                            <textarea type="text" placeholder="Battle Statement" id="br-statement" class="large"></textarea>
                        </div>
                        <div class="column third">
                            <label for="br-statement" class="small"><em>Create a killer battle challenge message</em></label>
                        </div>
                    </div>

                    <div class="row clearfix input-row">
                        <div class="column two-thirds point">
                            <label class="small">Player has maximum <span class="fat" data-mod="brDays">5</span> days to reply</label>
                            <input type="range" class="clear-marg" placeholder="Day Limit" id="brDays" min="1" max="7" value="5">
                        </div>
                        <div class="column third">
                            <label for="br-days" class="small"><em>For each turn, the player has x-amount of days to reply</em></label>
                        </div>
                    </div>

                    <div class="row clearfix input-row">
                        <div class="column two-thirds point">
                            <label class="small">Battle lasts for <span class="fat" data-mod="brRounds">3</span> rounds</label>
                            <input type="range" class="clear-marg" placeholder="Number of Rounds" id="brRounds" min="1" max="5" value="3">
                        </div>
                        <div class="column third">
                            <label for="br-rounds" class="small"><em>A round consists of one video from each player.</em></label>
                        </div>
                    </div>


                    <footer class="row pvm">
                        <button data-evt="save" class="btn btn-ser brd">Send Battle Challenge</button>
                    </footer>
                </div>
            </div>
        </div>


        <div class="column half dark-wrapper">
            <header class="mvl"><h5 data-mod="mode-head">Select Battle Mode</h5></header>

            <div class="row">
                <section data-reg="mode">
                    <img src="/img/banners/battle1.jpg" class="video-thumb point opac" data-evt="smpl">
                    <div class="row mvm">
                        <button class="btn btn-small btn-buf" data-evt="smpl">Simple</button>
                    </div>
                </section>
            </div>

            <div class="row">
                <section data-reg="mode">
                    <img src="/img/banners/battle2.jpg" class="video-thumb point opac" data-evt="adv">
                    <div class="row mvm">
                        <button class="btn btn-small btn-buf" data-evt="adv">Advanced</button>
                    </div>
                </section>
                <section data-reg="upl"></section>
            </div>
        </div>
    </div>

</div>
