<header>
    <div class="tab-btn active" data-model="login"><h4>LOGIN</h4></div>
    <div class="tab-btn" data-model="reg"><h4>REGISTER</h4></div>
</header>


<section class="pam txt-center">
    <div data-reg="content"></div>
</section>
