<img class="logo-lg maxl" src="/images/logos/logo_sml_white.png"></img>
<form id="login-form">
    <div class="row mvs">
        <input type="text" autocomplete="off" id="emailInput" placeholder="Username">
    </div>
    <div class="row">
        <input type="password" autocomplete="off" id="passwordInput" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-niz mvs">Login</button>
</form>
