<header><h3 class="fat">Welcome, {{username}}!</h3></header>
<section class="pvm">
<small class="lead">You are now a member of Shredr. Please, help us make this the best guitar-community by filling out your <a href="" data-event="ok-btn">Shredr profile</a></small>
</section>
<button class="btn btn-niz" data-event="ok-btn">Totally</button>
<a href="/" data-event="no-link">Not now</a>
