<img class="logo-lg maxl" src="/images/logos/logo_sml_white.png"></img>

<div class="txt-center mvl">
    <button data-evt="face" class="btn btn-buf face">Login with Facebook</button>
    <div id="status"></div>
    <p class="lead mvm white">Or</p>
</div>

<form id="login-form">
    <div class="row mvs">
        <input type="text" autocomplete="off" id="emailInput" placeholder="Username">
    </div>
    <div class="row">
        <input type="password" autocomplete="off" id="passwordInput" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-niz mvl">Login</button>
</form>
