<img class="logo-lg maxl" src="/images/logos/logo_sml-black.png"></img>
<form class="form-light" id="login-form">
    <div class="row">
        <input type="text" autocomplete="off" id="emailInput" placeholder="Username">
    </div>
    <div class="row">
        <input type="password" autocomplete="off" id="passwordInput" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-niz">Login</button>
</form>
