<form class="form-light" id="register-form">
    <p class="lead pam">Register here, and join<br> the Shredr community!</p>
    <small class="error" data-model="error-msg" style="display:none"></small>
    <div class="row">
        <input type="text" name="username-input" id="username" required autocomplete="off" placeholder="Pick a username">
    </div>
    <div class="row">
        <input type="email" id="email"  required autocomplete="off" placeholder="Enter email">
    </div>
    <div class="row">
        <input type="password" id="pw1" required autocomplete="off" placeholder="Password">
    </div>
    <div class="row">
        <input type="password" id="pw2" required autocomplete="off" placeholder="Repeat password">
    </div>

    <div class="row txt-center">
        <button type="submit" class="btn btn-niz">Register</button>
    </div>
</form>
