<header>
    <div class="tab-btn"><h4>Send Message</h4></div>
</header>


<section class="pam row clearfix">
    <div class="column fourth">
        <img src="{{profileImgFile}}" class="thumb-round img-xs">
    </div>
    <div class="column three-fourth">
        <textarea class="tall"></textarea>
    </div>
</section>

<section class="pam row clearfix">
    <button data-evt="send" class="btn btn-niz right">Send</button>
</section>
