<div class="container pvm">
  <header>
    <h3>{{heading}}</h3>
    <p><small data-model="instr"></small></p>
  </header>

  <section class="faded pam mvxl">
    <div data-reg="video-drag" style="height: 156px">
      <div data-reg="upload"></div>
    </div>
    </section>
    <div class="row txt-left clearfix" style="position:relative; z-index:10">
      <div class="column third">
        <p><small>Round {{roundNo}} - {{m.mode}} mode</small></p>
      </div>
      <div class="column third">
        <p class="green">
          <i class="ion-play phs point" data-evt="play"></i>
          <i class="ion-stop phs point" data-evt="stop"></i>
          <small data-model="dur">0:00</small>
        </p>
      </div>
      <div class="column third">
        <p><button class="btn btn-niz" data-evt="submit">Done!</button></p>
      </div>
    </div>
  </div>
