<div class="column fourth pvs" data-mod="kicker">
<h4>Round {{roundNo}}</h4>
<div><small>{{m.battler.username}} VS {{m.battlee.username}}</small></div>
</div>

<div class="column half mtl txt-center" data-mod="mid"></div>
<div class="column fourth mtl txt-right" data-mod="right">
    <small class="white">Battle - {{m.mode}}</small>
</div>
