<div class="mtxl">
    <p class="white pvl">Select a Jamtrack</p>

    <div class="row">
        <select data-mod="jamtracks" class="mhm">
            <option>Choose</option>
        </select>

        <span class="ion-play point" data-evt="play"></span>

    <p class="white mvl">(Uploading new jamtracks is coming soon)</p>
    <section data-reg="upload"></section>
</div>
