<div class="le-wrap" style="height:300px;">
    <div class="le-in pull-left">
        <h3>{{battler.username}}</h3>
        <img src="{{battler.profileImgFile}}" class="thumb-round img-large">
    </div>
</div>

<div class="battle-vs">
    <h1 style="font-size:5em;">VS</h1>
</div>

<div class="le-wrap">
    <div class="le-in pull-right">
        <img src="{{battlee.profileImgFile}}" class="thumb-round img-large">
        <h3>{{battlee.username}}</h3>
    </div>
</div>
