<section class="box box-wrap feed rel">
    <div class="le-wrap">
        <div class="banner" id="feed">
            <div class="le-in full-in faded"></div>
            <div class="le-in">
                <h2 class="lead mam">The Shredr Timeline</h2>
            </div>
            <div class="le-in bottom right green mam">
                <i class="icon ion-social-facebook mvxs"></i>
                <i class="icon ion-social-twitter mvxs"></i>
                <i class="icon ion-social-googleplus mvxs"></i>
            </div>
        </div>
    </div>
    <div class="pam">
        <div class="timeline"></div>
        <div data-reg="feed" class="feed-list"></div>
    </div>
</section>
