<section class="box box-wrap feed rel">
    <div class="le-wrap">
        <div class="banner" id="feed">
            <div class="le-in full-in faded"></div>
            <div class="le-in mam">
                <h1 class="lead">Hello there!</h1>
                <p class="lead mvm">Please, <button class="btn btn-niz btn-small mhl" data-event="login">Log in</button>
                <p class="mvl">Trust us, it's just better that way.</p>
            </div>
            <div class="le-in bottom right green mam">
                <i class="icon ion-social-facebook mvxs"></i>
                <i class="icon ion-social-twitter mvxs"></i>
                <i class="icon ion-social-googleplus mvxs"></i>
            </div>
        </div>
    </div>
</section>
