<div class="le-marg">
    <br>
</div>

<div class="le-content">
    <div class="small white" data-reg="feed-inner">
        <p>No Activity yet.</p>
        <small>Start following people, and things will soon happen here..</small>
    </div>
</div>
