<div class="le-marg">
    <img class="thumb-round img-xs" src="{{user.img}}">
</div>

<div class="le-content">
    <small>{{timeCreated}}</small>
    <div class="small white" data-reg="feed-inner"></div>
</div>
