<section class="box pas shred-thumb-wrap feed">
    <div class="right green">
        <i class="icon ion-social-facebook mvxs"></i>
        <i class="icon ion-social-twitter mvxs"></i>
        <i class="icon ion-social-googleplus mvxs"></i>
    </div>
<h1>Hello there!</h1>
<p class="lead">Please, <strong class="green point scale" data-event="login">log in.</strong>
<br>Trust us, it's just better that way.</p>
</section>
