<section class="box pas box-wrap feed">
    <div class="right green">
        <i class="icon ion-social-facebook mvxs"></i>
        <i class="icon ion-social-twitter mvxs"></i>
        <i class="icon ion-social-googleplus mvxs"></i>
    </div>
<h1 class="lead head mbm">Hello, {{username}}!</h1>
<p>Hola, this is what is happening now..</p>
</section>
