<section class="box box-wrap feed">
    <div class="le-wrap">
        <div class="right green le-in">
            <i class="icon ion-social-facebook mvxs"></i>
            <i class="icon ion-social-twitter mvxs"></i>
            <i class="icon ion-social-googleplus mvxs"></i>
        </div>

        <img src="/img/banners/stones.jpg"></div>
    </div>
    <div class="pam">
        <h1 class="lead">Hello there!</h1>
        <p class="lead">Please, <strong class="green point scale" data-event="login">log in.</strong>
        <br>Trust us, it's just better that way.</p>
    </div>
</section>
