<div class="row clearfix">
    <div class="column half" data-mod="kicker">
        <h4>The Shredr Stage.</h4>
        <div data-mod="filters">
            <small>
                <span class="green-hov point active" data-model="*">All</span> /
                <span class="green-hov point" data-model="Tutorial">Map View</span> /
            </small>
        </div>
    </div>

    <div class="column fourth">
        <i class="icon ion-ios7-arrow-down icon-2x pts point" data-evt="more" data-mod="up"></i>
    </div>
    <div class="column fourth txt-right" data-mod="right">
        <div class="row clearfix pts" data-reg="search"></div>
    </div>
</div>
