<h4>The Shredr Stage.</h4>
<div data-mod="filters">
    <small>
        <span class="green-hov point active" data-model="*">All</span> /
        <span class="green-hov point" data-model="Tutorial">Tutorials</span> /
        <span class="green-hov point" data-model="Jamtrack">Jamtracks</span> /
        <span class="green-hov point" data-model="Cover">Covers</span> /
        <span class="green-hov point" data-model="Lick">Licks</span>
    </small>
</div>
