<div data-region="landing">
    <div class="row clearfix profile">

        <div class="column half">
            <div data-reg="map"></div>
        </div>
        <div class="column half">
            <div class="full-right scrollable">
                {{#each things}}
                <div class="thumb-box row clearfix mvm">
                    <div class="column third">
                        <img src="/img/profiles/{{profileImgFile}}" class="shred-thumb">
                    </div>

                    <div class="column two-thirds pam">
                        <h3><a href="/users/{{_id}}">{{username}}</a></h3>
                        <p class="mvm ingress">{{bio}}</p>
                        <ul class="inline-list li-dotted in clearfix">
                            <li><small>Level 10</small></li>
                            <li><small>20 Battles</small></li>
                            <li><small>10 Shreds</small></li>
                        </ul>
                        <button class="btn btn-niz">Fan</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
