<div class="row clearfix">
<div class="column half" data-mod="kicker">
    <h4>The Shred Stage.</h4>
    <div data-mod="filters">
        <small>
            <span class="green-hov point active" data-model="*">All</span> /
            <span class="green-hov point" data-model="Tutorial">Tutorials</span> /
            <span class="green-hov point" data-model="Jamtrack">Jamtracks</span> /
            <span class="green-hov point" data-model="Cover">Covers</span> /
            <span class="green-hov point" data-model="Lick">Licks</span>
        </small>
    </div>
</div>

<div class="column fourth">
    <i class="icon ion-ios7-arrow-down icon-2x pts point" data-evt="more" data-mod="up"></i>
</div>
<div class="column fourth txt-right" data-mod="right">
    <div class="row clearfix pts" data-reg="search">
    </div>
</div>
</div>
<div data-reg="more" style="display:none; " class="pvl">
    <div class="row clearfix mvs">
        <div class="column third">
            <input type="search" class="search-submit input-on-dark" placeholder="Filter by Tags" data-evt="tags">
        </div>
        <div class="column third txt-center" data-reg="tags"><small>Add Tags</small></div>
    </div>
</div>
