<ul>
    <li class="in lead mhxl">
        <h3>Level</h3>
        <p>10</p>
    </li>
    <li class="in lead mhxl">
        <h3>Shreds</h3>
        <p>10</p>
    </li>
    <li class="in lead mhxl">
        <h3>Battles</h3>
        <p>10</p>
    </li>
    <li class="in lead mhxl">
        <h3>Fans</h3>
        <p>10</p>
    </li>
    <li class="in lead mhxl">
        <h3>Fanees</h3>
        <p>10</p>
    </li>
</ul>
