<ul class="li-hor in wide no-style">
    <li class="lead">
        <h3>Level</h3>
        <p>10</p>
    </li>
    <li class="lead">
        <h3>Shreds</h3>
        <p>10</p>
    </li>
    <li class="lead">
        <h3>Battles</h3>
        <p>10</p>
    </li>
    <li class="lead">
        <h3>Fans</h3>
        <p>10</p>
    </li>
    <li class="lead">
        <h3>Fanees</h3>
        <p>10</p>
    </li>
</ul>
