/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*

*/
//Colors
$gray : #777777;
$gray-light : #f9f9f9;
$gray-light-2 : #eee;
$gray-light-3 : #ddd;
$gray-med : #666;
$gray-dark : #333;
$gray-dark-2 : #131313;
$white : #F2F2EF;
$black : #333;
$dim : rgba(0,0,0,0.5);
$error : #D74B4B; // red
$valid : #307CA8; // blue
$valid-hov: #4B8CB3;
$warning : #fff664; // duno
$information : #349B89; // green
$brown: #2b2828;
$brown-light: #313338; // actually dark blue.
// variations
$green-light: #40BDA7;
$green-trans: rgba(52, 155, 137, 0.45);
$red-light: #E56B6B;
$grey-trans: rgba(119, 119, 119, 0.14);
$brown-light-light: #474b52;

// component-colors
$grey-border:#dce4ec;
$white-on-brown: rgba(255, 255, 255, 0.67);
$white-on-brown-brdr: rgba(255, 255, 255, 0.3);
$black-trans: rgba(0, 0, 0, 0.75);

$nav-height: 3.9em;
$top-height: 108px;

// z-indexes
$z-modal: 100;
$z-fullscreen: 50;
$z-fullin: 40;
$z-vid: 10;
$z-base: 1;
.over-base { z-index: $z-base + 1; }

//Typography

@font-face {
    font-family: 'gotham_htfbold';
    src: url('../../fonts/gotham/gothamhtf-bold.eot');
    src: url('../../fonts/gotham/gothamhtf-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gotham/gothamhtf-bold.woff') format('woff'),
         url('../../fonts/gotham/gothamhtf-bold.ttf') format('truetype'),
         url('../../fonts/gotham/gothamhtf-bold.svg#gotham_htfbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_htfbook';
    src: url('../../fonts/gotham/gothamhtf-book.eot');
    src: url('../../fonts/gotham/gothamhtf-book.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gotham/gothamhtf-book.woff') format('woff'),
         url('../../fonts/gotham/gothamhtf-book.ttf') format('truetype'),
         url('../../fonts/gotham/gothamhtf-book.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_htflight';
    src: url('../../fonts/gotham/gothamhtf-light.eot');
    src: url('../../fonts/gotham/gothamhtf-light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gotham/gothamhtf-light.woff') format('woff'),
         url('../../fonts/gotham/gothamhtf-light.ttf') format('truetype'),
         url('../../fonts/gotham/gothamhtf-light.svg#gotham_htflight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-htfmedium';
    src: url('../../fonts/gotham/gothamhtf-medium.eot');
    src: url('../../fonts/gotham/gothamhtf-medium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gotham/gothamhtf-medium.woff') format('woff'),
         url('../../fonts/gotham/gothamhtf-medium.ttf') format('truetype'),
         url('../../fonts/gotham/gothamhtf-medium.svg#gotham_htfmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


$font: "gotham_htfbook", "Helvetica", "Arial", sans-serif; // also $ser
$font-secondary: "gotham-htfmedium", Times, "Times New Roman", serif; // also med
$fat: "gotham_htfbold", "Helvetica", "Arial", sans-serif;
$thin: "gotham_htflight", "Helvetica", "Arial", sans-serif;

$font-size-small : 0.75em;
$font-size-small-2 : 0.875em;
$font-size-med : 1em;
$font-size-med-2: 1.0625em;
$font-size-large : 1.4375em;


//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1.2em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/1.5;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

$thumb-list-height: 359px;

//
@mixin brd-dark {
    border: 1px solid $white-on-brown-brdr;
}


// margs and pads
.in { display: inline-block; }

// positioning
.right { float: right; }
.left { float: left; }
.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.blue-box {
    background-color: $brown-light;
}

// colors;
.white-b { background-color:$white; }
.blue-b { background-color:$brown-light; }
.white { color: $white !important; }
.grey-faded { color: $brown-light-light; }
.green { color: $information; }
.faded { background-color: $grey-trans; }
.red { color: $error; }
.black { color: $black; }
.red-grad {
    @include border-radius(4px);
    // background-image: -o-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: -moz-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: -webkit-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: -ms-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: linear-gradient(to bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
}

.brown-box {
    background-color:$brown-light;
    padding:20px;
    &.box-small {
        width:70%;
    }
}

.point {cursor: pointer;}
.rel { position:relative;}

.vote-bar { margin:auto; }

.vote-bar-in {
    @include box-shadow (0 0 5px rgba(229, 107, 107, 0.21));
    @include border-radius(15px);
    display:inline-block;
    height:4px;
    padding:0px;
}

.battler-vote {
    margin-right: -7px;
    background-color: $error;
    width : 100px;
}

.battlees-vote {
    background-color: $valid;
    width : 100px;
}


// .round {
//     @include border-radius(6px);
// }

// TODO: super hack. fix this
.vote-left {
    position: relative;
    left: -74px;
}
.vote-right {
    position:relative;
    right: -74px;
}


// Borders
@mixin brd-dark {
    border: 1px solid $white-on-brown-brdr;
}

.brd-dark {
    @include brd-dark;
}

.brd-light {
    border: 1px solid rgba(255, 255, 255, 0.45);
}
.brd-bottom { border-bottom: 1px solid rgba(255, 255, 255, 0.63);}

.box {
    @include brd-dark;
    background: $brown-light;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.38);
    border-radius: 2px;
}

.top-shadow {
    border-top: 1px solid $gray;
    @include box-shadow( 5px -11px 8px rgba(0, 0, 0, 0.55) );
}

/* things over image, or other thing */
.le-wrap {
    position:relative;

    .le-in {
        position:absolute;
        &.center {
            width: 100%;
            text-align: center;
        }
        &.faded {
            background: rgba(0, 0, 0, 0.71);
        }
        &.large-in {
            bottom:9%;
            font-size: 6em;
        }
        &.full-in {
            top:0;
            width: 100%;
            background-color:inherit;
            cursor: pointer;
            height: 98%;
            z-index: $z-fullin;
            @include transition(background 0.5s ease);
            &:hover {
                background: #000;
                background: -webkit-gradient(radial,50% 25%,0,50% 25%,400,from(rgba(255,255,255,.01)),to(rgba(255,255,255,.3))) transparent;
                background: -moz-radial-gradient(center 45deg,circle cover,rgba(255,255,255,.01) 0%,rgba(255,255,255,.3)  100%) transparent;
            }
        }
    }
}

.green-hov {
    @include transition(color .3s ease);
    &:hover {
        color: $information;
    }

    &.active {
        color:$information;
    }
}

.scale {
    display:inline-block;
    &:hover { @include scale(1.2, 1.2); }
}

.dark-wrapper {
    background-image: url('/img/outlets.png');
    background-position: initial initial;
    background-repeat: initial initial;
}
