/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/* Completely remove from the flow and screen readers. */
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

.opac { opacity: 0.5; }

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}


/* positioning */
.right { float: right; }
.left { float: left; }
.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* Display Classes */
.hide-small {
    @media all and (max-width: $bp-med) {
        display: none;
    }
}

.hide-med {
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: $bp-large) {
        display: none;
    }
}

//States
.valid {
	color: $valid;
}

.error {
	color: $error;
}

.warning {
    color: $warning;
}

.information {
    color: $information;
}

.font-secondary {
    font-family: $font-secondary;
}


// margs and pads
.pvs { padding: 0.6em 0; }
.pvm { padding: 1em 0; }
.pvl { padding: 1.5em 0; }
.pvxxl{ padding: 3em 0; }
.pvxl { padding: 2em 0; }
.pvhuge { padding:7em 0;}
.phs { padding: 0 0.6em; }
.phm { padding: 0 1em; }
.phl { padding: 0 1.5em; }
.phs { padding: 0 0.6em; }
.pts { padding-top: 0.6em; }
.ptm { padding-top: 1em; }
.ptl { padding-top: 1.5em; }
.ptxl { padding-top: 2em; }
.pbm { padding-bottom: 1em; }
.prl { padding-right:1.5em; }
.prs { padding-right:0.6em; }
.pls { padding-left: 0.6em; }

.pam { padding: 0.8em; }
.pal { padding: 1.5em; }
.paxl { padding: 2.5em; }
.pas { padding: 0.6em; }

// correct?? should be mhxs??
.mvxs{ margin: 0 0.3em;}
.mvm { margin: 0.8em 0; }
.mvs { margin: 0.6em 0; }
.mvl { margin: 1.2em 0; }
.mvxl { margin: 2em 0; }
.mtm { margin-top: 0.8em; }
.mtl { margin-top: 1.2em; }
.mtxl { margin-top: 2em; }
.mbm { margin-bottom: 0.8em; }
.mbs { margin-bottom: 0.6em; }
.mls { margin-left: 0.6em; }
.mll {margin-left: 1.2em; }
.mam { margin: 0.8em; }
.mas { margin: 0.6em; }
.mal { margin: 1.2em; }
.maxl{ margin: 2em; }
.mhm { margin: 0 0.8em;}
.mhxl { margin: 0 2em;}
.mhs { margin: 0 0.6em;}
.mhl { margin: 0 1.2em;}

.in { display: inline-block; }

.blue-box { background-color: $brown-light; }

/* colors; */

/* Let there be light */
.ltbelt {
    background-color:$white;
    // color : $brown-light-light;
    h1, h2, h3, a, p { color : $brown-light-light !important; }

    @include box-shadow(background-color .3s ease-in);

    .li-hover:hover {
        background-color:$gray-light;
        cursor: pointer;
    }
}
.blue-b { background-color:$brown-light; }
.white-b { background-color:#fff !important; }
.white { color: $white !important; }
.face { background-color: #4c66a4 !important; }
.green { color: $information; }
.faded { background-color: $grey-trans; }
.red { color: $error; }
.black { color: $black !important; }
.red-grad {
    @include border-radius(4px);
    // background-image: -o-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: -moz-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: -webkit-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: -ms-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
    // background-image: linear-gradient(to bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
}

.brown-box {
    background-color:$brown-light;
    padding:20px;
    &.box-small {
        width:70%;
    }
}

.point {cursor: pointer;}
.rel { position:relative;}
.vert-up {
    position: relative;
    bottom: 2em;
}

.vote-bar { margin:auto; }

.vote-bar-in {
    @include box-shadow (0 0 5px rgba(229, 107, 107, 0.21));
    @include border-radius(15px);
    display:inline-block;
    height:4px;
    padding:0px;
}

.battler-vote {
    margin-right: -7px;
    background-color: $error;
    width : 100px;
}

.battlees-vote {
    background-color: $valid;
    width : 100px;
}


// .round {
//     @include border-radius(6px);
// }

// TODO: super hack. fix this
.vote-left {
    position: relative;
    left: -74px;
}
.vote-right {
    position:relative;
    right: -74px;
}

@mixin brd-dark {
    border: 1px solid $white-on-brown-brdr;
}

.brd-dark {
    @include brd-dark;
}

.brd { border: 1px solid !important;}

.brd-light {
    border: 1px solid $gray-light-3;
}
.brd-light-left {
    border-left: 1px solid $gray-light-3;
}

.brd-light-bottom {
    border-bottom: 1px solid $gray-light-3;
}

.box {
    @include brd-dark;
    background: $brown-light;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.38);
    border-radius: 2px;
}

.top-shadow {
    border-top: 1px solid $gray;
    @include box-shadow( 5px -11px 8px rgba(0, 0, 0, 0.55) );
}

/* things over image, or other thing */
.le-wrap {
    position:relative;

    .le-in {
        position:absolute;
        &.center {
            width: 100%;
            text-align: center;
        }
        &.faded {
            background: rgba(0, 0, 0, 0.71);
        }
        &.large-in {
            bottom:9%;
            font-size: 6em;
        }
        &.full-in {
            top:0;
            width: 100%;
            background-color:inherit;
            cursor: pointer;
            height: 98%;
            z-index: $z-fullin;
            @include transition(background 0.5s ease);
            &:hover {
                background: #000;
                background: -webkit-gradient(radial,50% 25%,0,50% 25%,400,from(rgba(255,255,255,.01)),to(rgba(255,255,255,.3))) transparent;
                background: -moz-radial-gradient(center 45deg,circle cover,rgba(255,255,255,.01) 0%,rgba(255,255,255,.3)  100%) transparent;
            }
        }
    }
}

.green-hov {
    @include transition(color .3s ease);
    &:hover {
        color: $information;
    }

    &.active {
        color:$information;
    }
}

.white-hov {
    @include transition(color .3s ease);
    &:hover {
        background-color:rgba(255,255,255, 0.2) !important;
    }
    &.active {
        background-color:rgba(255,255,255, 0.2) !important;
    }
}
.scale {
    display:inline-block;
    &:hover { @include scale(1.2, 1.2); }
}

.dark-wrapper {
    background-image: url('/img/outlets.png');
    background-position: initial initial;
    background-repeat: initial initial;
}
