/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   {
	line-height: 1.2;
}

h2, .beta    {
	line-height: 1.2;
}

h3, .gamma   {
	line-height: 1.2;
}

h4, .delta   {

}

h5, .epsilon {

}

h6, .zeta    {

}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}

h1,h2,h3 {
	font-family: $thin;
	color: $white;
}

a {
	color:$white-on-brown;
	text-decoration:none;
}

.glow {
	text-shadow: 1px 1px 2px #EBF0B5;
}

.win {
	text-decoration: underline;
	font-style: italic;
}

strong {
	font-family: $font-secondary;
}
.head {
	font-size: $font-size-large;
}
.killer { font-size: $font-size-large*2;}
.lead {
	font-family: $thin;
	font-weight: normal;
}
.fat {
	font-family: $fat;
}
.xsmall {
	font-size: 0.5em;
}
small, .small {
	font-size:$font-size-small;
	color: $gray;
}

.icon {
	font-size: 1.3em
}
.icon-2x {
	font-size: 2em;
}
.icon-3x {
	font-size: 3em;
}
.txt-light {text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);}
