ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

.ingress {
	max-height: 50px;
	font-size: 0.8em;
	text-overflow: ellipsis;
	overflow-y: hidden;
}
