.jamtrack-player {
    position:fixed;
    width:250px;
    right: 0;
    top: 20%;

    &.pull-right {
        @include transition(all 0.5s);
        @include translate(300%, 0, 0)
    }

    &.pull-right-after {
        @include translate(60%, 0, 0);
    }
    .jt-content {
        padding: 14px 35px;
        background-color: $valid;
        color: $white;
    }
}
