.dropdown {
  position:absolute;
  z-index: $z-dropdown;
  left:0;
  min-width:300px;
  top: 50px;
  @include border-radius(4px);
  @include box-shadow(0 3px 7px rgba(0, 0, 0,0.3));
  background-color: $white;

  .row {
    padding: 15px 10px;
  }
  .footer {
    background-color:$valid;
    padding: 5px 10px;
    line-height:2em;
  }
  > div {
    max-height: 400px;
    overflow-y:scroll;
  }

  &.right-menu {
      left:inherit !important;
      right:0;
  }
}

.arrow-up-right:after, .arrow-up-right:before {
    @include arrow_box_b_a(83% !important);
}

.arrow-up {
  @include arrow_box();
}

.arrow-up:after, .arrow-up:before {
  @include arrow_box_b_a();
}

.arrow-up:after {
  @include arrow_a();
}

.arrow-up:before {
  @include arrow_b();
}
