.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.container {
	margin: 0 auto;
	max-width: 70rem;
	width: 70%;
}

.row {
	width: 100%;
}

@media (min-width: 40rem) {
	.column {
		float: left;
	}

	.column.full { width: 100%; }
	.column.two-thirds { width: 66.7%; }
	.column.half { width: 50%; }
	.column.third { width: 33.3%; }
	.column.fourth { width: 24.95%; }
	.column.three-fourth { width: 74.85%; }
	.column.ten { width: 10%; }
	.column.nine-ten { width: 90%; }
	.column.six { width: 16.6% }
	.column.two-six { width: 33.32% }
	.column.five-six { width: 83% }
	.column.five { width: 20% }
	.column.two-five { width: 40% }
	.column.four-five { width: 80%; }

	.column.flow-opposite { float: right; }
	.column.flow-opposite { float: right; }
}


.sidebox {
	position:fixed;
	font-size: 0.7em;
	padding:1em;
	width: 16.6%;
	top: $top-height + 2;
}
