
.profile {
    .thumb-box {
        .ingress {
            max-height: 54px;
            overflow-y: hidden;
        }
    }

    .full-right {
        background-color:$brown-light;
        border-left: 1px solid $white-on-brown-brdr;
        right: 0;
        top: $top-height;
        width:50%;
    }

    .full-left {
        position: fixed;
        top: $top-height;
        width:50%;
        bottom: 0;
        left: 0;
    }

    #map-canvas { height: 100%; }
}

.battle-ch-banner {
    background-image:url(/img/banners/crowd2mode.jpg);
    background-position: 85% 60%;
}
