#upload {
    background-image:url(/img/banners/mic.png); background-size:cover;
}
#resources {
    background-image:url(/img/banners/theory.png); background-size:cover;
}


.ws-banner {
    margin-top:10%;
    width: 300px;
    height: 500px;
    z-index: $z-base + 1;
    position: relative;
    > div {
        padding: 15% 10%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.41);
        @include box-shadow(0px -1px 7px rgba(0, 0, 0, 0.89));
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            @include transition(background-color 0.3s ease-in-out);
        }
    }
}

.ws-banner-right {
    float: right;
    margin-right: 10%;
}

.ws-banner-left {
    margin-left:10%;
}
