.battle-play {
    padding: 40px 80px;
    background: $brown-light;
    border-radius: 50%;
    border: 1px solid #999;
    box-shadow: 0 0 4px #333;
    opacity: 0.9;
}

.battle-social {
    bottom: -33px;
    right: 20%;
}

.battle-anim {
    position:fixed;
    left:0;
    right: 0;
    bottom: 0;
    margin: 2%;
    top : 0;
    text-align:center;
    z-index: $z-modal;

    .pull-left {
        @include transition(all 0.5s);
        @include translate(-200%, 0, 0)
    }

    .battle-vs { margin-top: 30px;}

    .pull-left-after {
        top: 0;
        @include translate(100%, 0, 0);
    }

    .pull-right {
        @include transition(all 0.5s);
        @include translate(1000%, 0, 0)
    }

    .pull-right-after {
        top: 0;
        @include translate(270%, 0, 0);
    }
}

.audio-bfr {
    background-color:$error;
    height:1.2em;
    position:relative;
}

.arrow {
    position:absolute;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.24);
    top: 15px;
    &.right {
        right: 15%;
    }
    &.left {
        left: 15%;
    }
}
