/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: $information;
	color: $white;
	line-height: 1;
	font-family:$fat;
	padding: $pad;
	border: 0;
	font-size: $font-size-small;
	text-align: center;

	@include transition (background 0.3s ease-in-out);

	&:hover, &:focus {
		background: $gray;
		color: $white;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray;
	}
	&.wide { min-width: 140px; }
}

.btn-small {
	padding: $pad-half;
}

.btn-info {
	background-color:$valid;
	&:hover {
		background-color: $valid-hov;
	}
}

.btn-buf {
    background-color: $brown;
    border: 1px solid $brown-light;
    &:hover { background-color: $brown-light; }
}
// .btn-buf {
// 	padding: $pad-half;
// 	text-transform: uppercase;
// 	background: $information;
// 	font-size: 1.4rem;
// 	font-weight: normal;
// }

.text-btn {
	font-style: italic;
}

.tab-btn {
	margin: 1em 2em;
	display: inline-block;
	color: $brown;
	cursor:pointer;
	border:none;
	&:hover { color: $green-light; }

	&.active {
		border-width: 9px;
	}
}

.active {
	border-bottom: 2px solid $information;
}


.btn-niz {
	background-color:$information;
	&:hover { background-color: $green-light; }
}

.btn-def {
	background-color: $brown-light;
	&:hover { background-color: $brown-light-light; }
}

.btn-ser {
	background-color:$error;
	color: $black;
	&:hover { background-color: $red-light; }
}

.btn-round {
	@include border-radius(50%);
	border: 2px solid;
}

.label {
	border-radius: 50%;
	padding: 3px 6px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	color : $white;
	cursor: pointer;
	background-color:$error;
	&:hover {
		background-color:$red-light;
	}
	&.non {
		background-color: $brown-light;
	}

}

.tags {
	margin: 1px;
	float: left;
	background: $error;
	color:$black;
	padding: 2px 2px;
	border: 1px solid $black;
}
