/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
	text-align: center;
	padding: $pad;
	margin-bottom: $space-half;
	border: 1px solid $gray;
	background: $gray-light;
}

.alert-error {
	color: $error;
	border-color: $error;
	background: #ffbebe;
}

.dropdown {
	position:fixed;
	right:1em;
	padding:1em;
	background-color:$brown-light;
	@include box-shadow(0 3px 7px rgba(0, 0, 0,0.3));
	color: $white;
	@include brd-dark;
	min-width: 350px;

	&.dd-left {
		left:1em;
		top:4em;
		right:inherit;
	}

}
