<div class="container" data-region="landing">
    <div class="row clearfix">

        <div class="column three-fourth">
            <video id="video_0_0" class="shred-vid">
                <source src="/video/s.mp4" type='video/mp4' />
            </video>
        </div>

        <div class="column fourth">

            <div class="brd-dark box-wrap le-wrap stage-thumb-wrap small" data-evt="play" data-model="id">
                <img src="http://img.youtube.com/vi/y9Yf-r-VG7E/0.jpg" class="shred-thumb">
                <div class="le-in thmb pas white">
                    <p>Yolo Name</p>
                    <small class="lead white">Yolo title</small>
                </div>
                <div class="le-in full-in"></div>
            </div>

            <div class="brd-dark box-wrap le-wrap stage-thumb-wrap small" data-evt="play" data-model="id">
                <img src="http://img.youtube.com/vi/y9Yf-r-VG7E/0.jpg" class="shred-thumb">
                <div class="le-in thmb pas white">
                    <p>Yolo Name</p>
                    <small class="lead white">Yolo title</small>
                </div>
                <div class="le-in full-in"></div>
            </div>

            <div class="brd-dark box-wrap le-wrap stage-thumb-wrap small" data-evt="play" data-model="id">
                <img src="http://img.youtube.com/vi/y9Yf-r-VG7E/0.jpg" class="shred-thumb">
                <div class="le-in thmb pas white">
                    <p>Yolo Name</p>
                    <small class="lead white">Yolo title</small>
                </div>
                <div class="le-in full-in"></div>
            </div>

        </div>

    </div>


    <div class="row clearfix">

        <div class="column two-thirds">
            <div class="row mvm clearfix">
                <h5 class="column three-fourth">Jamtrack <small>Added 25.12.2014</small></h5>
                <label class="column fourth">4:55 <i class="ion-play mhs"></i>
                <i class="ion-stop"></i></label>
            </div>

            <div class="row mvm clearfix">
                <h2 class="column three-fourth lead">Lolcat saperdap Clearfix Yo</h2>
            </div>

            <div class="row mvl clearfix">

                <div class="column third">
                    <h3><img src="/img/profiles/16.jpg" class="thumb-round img-small"><span class="thumb-txt">Mad Mike</span></h3>
                    <i class="ion-location fa-2x phs"></i><small>Dirka, Zimbabwe</small>
                </div>

                <div class="column two-thirds mtm">
                    <p><a href="" class="white active">About</a> <a class="white mhs">Promote</a> <a class="white">Hide</a></p>
                    <p><label>
                        Yolo swagtown sap dap sappers zap thinkertinie lol cat mode swag
                    </label></p>
                </div>
            </div>

            <div class="row clearfix txt-center pvl">
                <h4>Shredr Tabs</h4>
            </div>
        </div>

        <div class="column third">
            <div class="row clearfix">
                <h1 class="lead killer left">7,8 </h1>
                <div class="right mvxl">
                    <p>3000 <small>Views</small></p>
                    <p>10 <small>Promotions</small></p>
                </div>
            </div>

            <form class="row clearfix">
				<div class="logos column nine-ten">
					<img src="/img/icons/logo_sml_white.png" data-index="0" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="1" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="2" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="3" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="4" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="5" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="6" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="7" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="8" class="logo-sm">
					<img src="/img/icons/logo_sml_white.png" data-index="9" class="logo-sm">
				</div>

				<div class="column ten">
					<p><strong data-model="rating">0/10</strong></p>
				</div>
			</form>

            <div class="row txt-center pvl">
                <h4>Comments</h4>
            </div>
        </div>

    </div>
</div>
