<div class="column half pvs" data-mod="kicker"></div>
<div class="column fourth mtl" data-mod="mid">
    <i class="icon ion-ios7-arrow-down icon-2x"></i>
</div>
<div class="column fourth mtl txt-right" data-mod="right">
    <span class="right"><i class="icon ion-ios7-search icon-2x"></i></span>
</div>
