<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #D74B4B;"></span>
		<span class="sg-label">#D74B4B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #349B89;"></span>
		<span class="sg-label">#349B89</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #307CA8;"></span>
		<span class="sg-label">#307CA8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2b2828;"></span>
		<span class="sg-label">#2b2828</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #313338;"></span>
		<span class="sg-label">#313338</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #40BDA7;"></span>
		<span class="sg-label">#40BDA7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777777;"></span>
		<span class="sg-label">#777777</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
	</li>
</ul>
